@use "./src/styles/layout";

.avatarCss {
  border-radius: 50%;
  display: block !important;
  margin: 0 auto layout.$spacer-4;
  max-width: 200px;
  overflow: hidden;
  transform: translateZ(0); // Fix Safari border-radius with hidden overflow.
  width: 75%;
}

.headingCss {
  text-align: center;
}

.taglineCss {
  color: var(--color-fg-subtle);
  font-size: 16px;
  line-height: layout.$spacer-4;
  margin-top: layout.$spacer-3;
  text-align: center;

  p {
    a {
      color: var(--color-fg-accent);
    }
  }

  p:not(:first-of-type) {
    margin-top: layout.$spacer-3;
  }
}

.breadcrumbCss {
  color: var(--color-fg-accent);
  display: block;
  font-size: 16px;
  line-height: layout.$spacer-4;
  margin-bottom: layout.$spacer-2;
  text-align: center;
}
