@import "./src/styles/breakpoints";

.avatar {
  border-radius: 50%;
  margin: 0 auto var(--step-5);
  max-width: 200px;
  width: 75%;
}

.heading {
  font-size: var(--step-2);
  text-align: center;
}

.tagline {
  color: var(--color-text-secondary);
  font-family: var(--font-serif);
  font-size: 16px;
  margin-top: var(--step-1);
  text-align: center;
}
