@import "./src/styles/breakpoints";

.avatarCss {
  border-radius: 50%;
  display: block !important;
  margin: 0 auto var(--step-5);
  max-width: 200px;
  overflow: hidden;
  width: 75%;
}

.headingCss {
  font-size: var(--step-2);
  text-align: center;
}

.taglineCss {
  color: var(--color-text-secondary);
  font-family: var(--font-serif);
  font-size: 16px;
  margin-top: var(--step-1);
  text-align: center;
}
