@import "./src/styles/breakpoints";

.infoCss {
  color: var(--color-text-secondary);
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 300;
  text-align: center;
}

.containerCss {
  align-items: baseline;
  display: inline-flex;
  flex-wrap: wrap;
  font-feature-settings: "tnum";
  font-size: 18px;
  justify-content: center;
  padding: 2.5rem 0;
  white-space: nowrap;

  @media (min-width: $breakpointDesktop) {
    font-size: 21px;
  }

  *:nth-child(2) {
    margin-left: 0;
  }
}

.paginationLinkCss {
  color: var(--color-link);
  margin-left: 1.5rem;
}

.currentPageCss,
.elipsisCss {
  color: var(--color-text-secondary);
  margin-left: 1.5rem;
}

.elipsisCss {
  margin-top: -0.5ch;
}

.buttonCss {
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--color-link);
  margin-left: 1.5rem;
  padding: 0;

  @media (min-width: $breakpointDesktop) {
    background-color: transparent;
    border: 0;
  }

  &[disabled] {
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3);

    @media (min-width: $breakpointDesktop) {
      background-color: transparent;
    }
  }
}
