@import "./src/styles/breakpoints";

.header {
  border-bottom: solid 1px var(--color-background);
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 300;
  padding: var(--step-1);
  text-align: center;

  @media (min-width: $breakpoint_desktop) {
    background-color: darken(#fff, 2);
    border: solid 1px var(--color-background);
    margin-top: var(--step-5);
    padding: 1rem var(--step-1);
  }
}

.container {
  align-items: baseline;
  border-top: solid 1px var(--color-background);
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-sans);
  font-feature-settings: "tnum";
  font-size: 18px;
  justify-content: space-between;
  padding: var(--step-1);
  white-space: nowrap;

  @media (min-width: $breakpoint_desktop) {
    background-color: darken(#fff, 2);
    border: solid 1px var(--color-background);
    margin: 0 0 var(--step-5);
    padding: 1rem var(--step-1);
  }
}

.pagination_link {
  color: var(--color-link);
}

.pagination_heading {
  composes: sr_only from "../../styles/utils.scss";
}

.current_page,
.elipsis {
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
  font-weight: 300;
  padding: calc(var(--step--2) / 2);
}

.button {
  appearance: none;
  background: transparent;
  // background-color: darken(#fff, 2);
  // border: solid 1px var(--color-background);
  border: 0;
  color: var(--color-link);
  font-family: var(--font-sans);
  font-size: 18px;
  font-weight: 300;
  padding: calc(var(--step--2) / 2);

  @media (min-width: $breakpoint_desktop) {
    background-color: transparent;
    border: 0;
  }
}

.button[disabled] {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);

  @media (min-width: $breakpoint_desktop) {
    background-color: transparent;
  }
}
