@import "./src/styles/breakpoints";

.header {
  background-color: darken(#fff, 2);
  border: solid 1px var(--color-background);
  color: var(--color-text-secondary);
  font-family: "PT Sans";
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 300;
  margin-top: var(--step-5);
  padding: var(--step-1) var(--step-1);
  text-align: center;
}

.container {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans";
  font-feature-settings: "tnum";
  font-size: 18px;
  justify-content: space-between;
  margin-top: var(--step-1);
  padding: var(--step-1) var(--step-1) var(--step-5) var(--step-1);
  white-space: nowrap;

  @media (min-width: $breakpoint_desktop) {
    background-color: darken(#fff, 2);
    border: solid 1px var(--color-background);
    margin: 0 0 var(--step-5);
    padding: var(--step-1);
  }
}

.pagination_link {
  color: var(--color-link);
}

.pagination_heading {
  composes: sr_only from "../../styles/utils.scss";
}

.current_page,
.elipsis {
  color: var(--color-text-secondary);
  font-family: "PT Sans";
  font-weight: 300;
  padding: calc(var(--step--2) / 2);
}

.button {
  appearance: none;
  background-color: darken(#fff, 2);
  border: solid 1px var(--color-background);
  color: var(--color-link);
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 300;
  padding: calc(var(--step--2) / 2);

  @media (min-width: $breakpoint_desktop) {
    background-color: transparent;
    border: 0;
  }
}

.button[disabled] {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);

  @media (min-width: $breakpoint_desktop) {
    background-color: transparent;
  }
}
