.toggle_button {
  border: solid 1px darken(#e9e7e0, 5);
  border-radius: 4px;
  color: var(--color-link);
  font-size: clamp(14px, 5vw, 15px);
  margin-top: 1rem;
  padding: calc(var(--step--2) / 2) var(--step--2);
}
