@use "./src/styles/breakpoints";

.titleYearCss {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.reviewDetailCss {
  color: var(--color-text-secondary);
  font-feature-settings: "tnum";
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}

.reviewTitleCss {
  font-size: 1rem;
  letter-spacing: normal;
  line-height: 1.5;
  padding-bottom: 0.5rem;
}

.gradeCss {
  height: 1rem;
  margin-right: 0.5ch;
  vertical-align: -2px;
  width: auto;
}

.listItemCss {
  line-height: 1.5rem;
}
