@use "./src/styles/breakpoints";

.viaCss {
  color: var(--color-text-secondary);
  display: inline;
}

.titleYearCss {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.viewingDetailCss {
  font-feature-settings: "tnum";
  font-size: 1rem;
  letter-spacing: normal;
}

.gradeCss {
  height: 1rem;
  left: 0;
  position: absolute;
  top: 6px;
  width: auto;
}

.listItemCss {
  line-height: 26px;
  position: relative;
  text-indent: calc(5rem + 1ch);
}
