@use "./src/styles/breakpoints";

.containerCss {
  border-top: solid 1px var(--color-background);
  display: grid;
  grid-template-areas: ". list ." ". pagination .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 38rem) minmax(
      var(--step-1),
      1fr
    );

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "list" "pagination";
    grid-template-columns: unset;
  }

  @media (min-width: 80rem) {
    border-top: 0;
  }
}

.listCss {
  grid-area: list;

  @media (min-width: breakpoints.$desktop) {
    border-bottom: solid 1px var(--color-background);
    display: flex;
    flex-wrap: wrap;
  }
}

.listItemCss {
  @media (min-width: breakpoints.$desktop) {
    border-top: solid 1px var(--color-background);
    display: flex;
    margin-top: var(--step-5);
    padding: 1.5rem 0;
    width: 50%;

    &:nth-child(even) {
      padding-right: var(--step-1);
    }

    &:nth-child(odd) {
      padding-left: var(--step-1);
    }

    &.wideCss {
      padding: 2.5rem 0;
      width: 100%;
    }

    &:first-of-type {
      border-top: 0;
      margin-top: 0;
      padding-top: var(--step-5);
    }
  }

  @media (min-width: 80rem) {
    &:first-of-type {
      padding-top: 0;
    }
  }
}

.reviewCss {
  display: grid;
  grid-template-areas: ". . ." "image image image" ". . . " ". header ." ". . ." ". body ." ". . ." ". footer ." ". . ." ". border ." ". . .";
  grid-template-columns: 1fr minmax(auto, 60ch) 1fr;
  grid-template-rows: 2.5rem auto var(--step-1) auto 1.4rem 1fr 1.4rem auto 2.5rem;

  &::after {
    border-bottom: solid 1px var(--color-background);
    content: "";
    display: block;
    grid-area: border;
    height: 1px;
    justify-self: center;
    width: 75%;
  }

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "image image image" ". . . " ". header ." ". . ." ". body ." ". . ." ". footer ." ". . ." ". border .";
    grid-template-rows: auto var(--step-1) auto 1.4rem 1fr 2.8rem auto;

    &::after {
      display: none;
    }

    &.wideCss {
      align-items: start;
      column-gap: calc(2 * var(--step-1));
      grid-template-areas: "header image" ". image" "body image" ". image" "footer image";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto var(--step-1) 1fr 1.4rem auto;
    }
  }
}

.imageLinkCss {
  border: 0.5em solid var(--color-background);
  display: block;
  grid-area: image;
  line-height: 0;
}

.reviewHeaderCss {
  display: grid;
  grid-area: header;
  grid-template-areas: "heading" "." "grade" "." "credits";
  grid-template-rows: auto 1.5rem auto 1.5rem auto;
}

.articleHeadingCss {
  font-size: var(--step-2);
  font-weight: 700;
  grid-area: heading;
}

.articleFooterCss {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  grid-area: footer;
  justify-content: flex-end;
  margin-bottom: -1rem;

  a {
    color: var(--color-link);
  }
}

.dateCss {
  color: var(--color-text-secondary);
  display: flex;
  font-feature-settings: "tnum";
  font-size: 14px;
  font-weight: 300;
  grid-area: slug;
  letter-spacing: 0.25px;
  line-height: 40px;
  margin-bottom: 1rem;
  margin-right: auto;
  min-width: 120px;
  order: -1;
  padding: 9px 0;
  white-space: nowrap;
}

.reviewYearCss {
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 300;
}

.reviewCreditsCss {
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 400;
  grid-area: credits;
  letter-spacing: 0.25px;
  text-align: left;
}

.reviewGradeCss {
  align-self: flex-start;
  grid-area: grade;
  height: 1.75rem;
  width: auto;
}

.articleBodyCss {
  color: var(--color-text-tertiary);
  font-size: 18px;
  grid-area: body;
}

.watchlistLinksCss {
  display: contents;
}

.paginationCss {
  align-content: space-around;
  grid-area: pagination;
}

:global(.globalExcerptLinkCss) {
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
}
