@use "./src/styles/layout";
@use "./src/styles/breakpoints";

.infoCss {
  color: var(--color-fg-subtle);
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 300;
  text-align: center;
}

.containerCss {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  font-feature-settings: "tnum";
  font-size: 18px;
  justify-content: center;
  line-height: layout.$spacer-4;
  margin: 0 auto;
  max-width: 25rem;
  padding: layout.$spacer-6 0;
  white-space: nowrap;
  width: calc(100% - 2 * var(--layout-grid-margin));

  @media (min-width: breakpoints.$desktop) {
    font-size: 21px;
    max-width: unset;
  }

  *:nth-child(2) {
    margin-left: 0;
  }
}

.paginationLinkCss {
  color: var(--color-fg-accent);
  margin-left: 1.5rem;
}

.currentPageCss,
.elipsisCss {
  color: var(--color-fg-sublte);
  margin-left: 1.5rem;
}

.elipsisCss {
  margin-top: -0.5ch;
}
