@use "./src/styles/breakpoints";

.infoCss {
  color: var(--color-fg-subtle);
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 300;
  text-align: center;
}

.containerCss {
  align-items: baseline;
  display: inline-flex;
  flex-wrap: wrap;
  font-feature-settings: "tnum";
  font-size: 18px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 25rem;
  padding: 2.5rem 0;
  white-space: nowrap;
  width: 100%;

  @media (min-width: breakpoints.$desktop) {
    font-size: 21px;
    justify-content: center;
    max-width: unset;
  }

  *:nth-child(2) {
    margin-left: 0;
  }
}

.paginationLinkCss {
  color: var(--color-fg-accent);

  @media (min-width: breakpoints.$desktop) {
    margin-left: 1.5rem;
  }
}

.currentPageCss,
.elipsisCss {
  color: var(--color-fg-sublte);

  @media (min-width: breakpoints.$desktop) {
    margin-left: 1.5rem;
  }
}

.elipsisCss {
  margin-top: -0.5ch;
}
