@use "./src/styles/breakpoints";

.containerCss {
  border-top: solid 1px var(--color-background);
  display: grid;
  margin: 0 auto;
  max-width: 40rem;
  padding-top: var(--step-5);

  @media (min-width: breakpoints.$desktop) {
    grid-template-columns: 375px 1fr;
    max-width: unset;
  }

  @media (min-width: breakpoints.$max) {
    border-top: 0;
    padding-top: 0;
  }
}

.leftCss {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". filters ." ". . ." ". list_info ." ". . ." ". percent ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows: auto var(--step-5) auto var(--step-1) auto var(--step-5) auto var(
      --step-5
    );

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "header header ." ". . ." "filters filters ." ". . ." "list_info list_info ." ". . ." "percent percent ." ". . .";
  }
}

.rightCss {
  display: grid;
  grid-template-areas: "list" "." "show_more" ".";
  grid-template-columns: 1fr;
  grid-template-rows: auto var(--step-1) auto var(--step-5) 1fr;
  padding: 0 var(--step-1);

  @media (min-width: breakpoints.$desktop) {
    padding-right: 0;
  }
}

.pageHeaderCss {
  grid-area: header;
}

.filtersCss {
  grid-area: filters;
}

.listCss {
  column-gap: var(--step-1);
  display: grid;
  grid-area: list;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  margin: 1rem 0;
  row-gap: 2rem;
}

.listItemImageLinkCss {
  display: block;
  max-width: 250px;
}

.listItemTitleCss {
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 0.25rem;
  text-rendering: optimizeLegibility;

  a {
    color: var(--color-link);
  }
}

.listItemTitleYearCss {
  color: var(--color-text-secondary);
  font-size: 0.75rem;
  font-weight: 300;
}

.listItemGradeCss {
  height: 16px;
  margin-right: 4px;
  width: 80px;
}

.listItemSlugCss {
  align-items: flex-start;
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.75rem;
  font-weight: 300;
  justify-content: space-between;
  margin-top: 3px;
  row-gap: 3px;
}

.quoteCss {
  color: var(--color-text-tertiary);
  display: block;
  margin-top: 0.75rem;
}

.listInfoCss {
  color: var(--color-text-secondary);
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 300;
  grid-area: list_info;
  justify-self: center;
  text-align: center;
}

.showMoreCss {
  grid-area: show_more;

  @media (max-width: breakpoints.$tablet) {
    margin-left: var(--step-1);
    padding-right: var(--step-1);
  }
}

.listHeaderGroupCss {
  background-color: var(--color-background);
  display: block;
  font-size: 1.125rem;
  margin: 0 calc(-1 * var(--step-1));
  padding: 0.5rem var(--step-1);
  position: sticky;
  top: 0;

  @media (min-width: breakpoints.$tablet) {
    margin: 0 calc(-0.5 * var(--step-1));
    padding: 0.5rem calc(0.55 * var(--step-1));
  }
}
