@use "./src/styles/breakpoints";

.barCss {
  background-image: linear-gradient(
    to right,
    var(--color-highlight),
    var(--color-highlight) var(--bar-percent),
    transparent var(--bar-percent),
    transparent
  );
  opacity: 33%;
  width: 100%;
}

.tableCss {
  border: 1px solid var(--color-background);
  border-collapse: collapse;
  line-height: 1.75;
  margin: 0 auto var(--step-5);
  width: 100%;
}

.decadeHeaderCss {
  line-height: 2.5;
  padding-left: var(--step-1);
  text-align: left;
}

.rowCss {
  font-size: 1.125rem;

  &:nth-child(odd) {
    background-color: #e9e7e061;
  }
}

.viewingsHeaderCss {
  padding-right: var(--step-1);
  text-align: right;
  white-space: nowrap;
}

.decadeCellCss {
  padding-left: var(--step-1);
  padding-right: var(--step-1);

  @media (min-width: breakpoints.$tablet) {
    white-space: nowrap;
  }
}

.viewingsCellCss {
  font-feature-settings: "tnum";
  padding-right: var(--step-1);
  text-align: right;
  vertical-align: top;
}

.barCellCss {
  width: 100%;
}

.headerRowCss {
  background-color: #fff;
  position: sticky;
  top: 38px;
  z-index: 100;
}

.headerCss {
  background-color: var(--color-background);
  display: block;
  font-size: 1.125rem;
  margin: var(--step-5) 0 0 0;
  padding: 0.5rem var(--step-1);
  position: sticky;
  top: 0;
  z-index: 100;
}
