@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.containerCss {
  display: flex;
  flex-wrap: wrap;
  gap: layout.$spacer-4;
  justify-content: center;
  padding-bottom: layout.$spacer-5;
  padding-top: layout.$spacer-5;

  @media (min-width: breakpoints.$desktop) {
    column-gap: layout.$spacer-6;
  }
}

.calloutContainerCss {
  border: 1px solid var(--color-border-default);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 144px;
  justify-content: center;
  width: 144px;
}

.numberCss {
  display: block;
  font-size: 32px;
  text-align: center;
}

.legendCss {
  color: var(--color-fg-subtle);
  display: block;
  font-size: 16px;
  line-height: layout.$spacer-3;
  text-align: center;
}
