@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.containerCss {
  margin: layout.$spacer-6 auto;

  @media (min-width: breakpoints.$desktop) {
    border: 1px solid var(--color-border-default);
    margin: layout.$spacer-6 - 1 auto;
  }
}

.headerRowCss {
  align-items: center;
  background-color: var(--color-bg-default);
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  line-height: layout.$spacer-6;
  padding: 0 var(--layout-grid-margin);
  position: sticky;
  top: layout.$spacer-6 - 1;
  width: 100%;
  z-index: 200;

  @media (min-width: breakpoints.$max) {
    padding: 0 layout.$spacer-4;
  }
}

.nameHeaderCss {
  line-height: layout.$spacer-6;
  text-align: left;
}

.viewingsHeaderCss {
  text-align: right;
  white-space: nowrap;
}

.barCss {
  background-image: linear-gradient(
    to right,
    var(--color-highlight),
    var(--color-highlight) var(--bar-percent),
    transparent var(--bar-percent),
    transparent
  );
  opacity: 0.33;
  width: 100%;
}

.nameCss {
  grid-column-end: 2;
  grid-column-start: 1;
  padding: 0 var(--layout-grid-margin);
  width: 100%;

  a {
    color: var(--color-fg-accent);
  }

  @media (min-width: breakpoints.$tablet) {
    white-space: nowrap;
  }

  @media (min-width: breakpoints.$max) {
    padding: 0 layout.$spacer-4;
  }
}

.barSpaceCss {
  display: none;
  padding-right: var(--step-1);

  @media (min-width: breakpoints.$tablet) {
    display: block;
  }
}

.viewingsCss {
  font-feature-settings: "tnum";
  padding: 0 var(--layout-grid-margin);
  text-align: right;
  vertical-align: top;

  @media (min-width: breakpoints.$max) {
    padding: 0 layout.$spacer-4;
  }
}

.nameCss,
.barSpaceCss,
.viewingsCss {
  background-color: var(--color-bg-stripe);
  font-size: 18px;
  line-height: layout.$spacer-6;
}

.headerCss {
  background-color: var(--color-bg-canvas);
  display: block;
  font-size: 18px;
  line-height: layout.$spacer-6;
  padding: 0 var(--layout-grid-margin);
  position: sticky;
  top: 0;
  z-index: 300;

  @media (min-width: breakpoints.$max) {
    padding: 0 layout.$spacer-4;
  }
}

.detailsRowCss {
  grid-column-end: 4;
  grid-column-start: 1;
  line-height: layout.$spacer-5;
  padding: 0 var(--layout-grid-margin);

  @media (min-width: breakpoints.$max) {
    padding: 0 layout.$spacer-4;
  }
}

.detailsLabelCss {
  color: var(--color-fg-subtle);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: left;
}

.parentListCss {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.parentListItemCss {
  display: contents;
}
