@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.listItemTitleCss {
  color: var(--color-fg-default);
  font-size: 1rem;
  line-height: layout.$spacer-3;
  text-align: center;
  text-rendering: optimizelegibility;
}

.listItemTitleYearCss {
  color: var(--color-fg-subtle);
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

.listItemSlugCss {
  color: var(--color-fg-subtle);
  font-size: 16px;
  font-weight: 300;
  line-height: layout.$spacer-4;
  text-align: center;
}

.containerCss {
  padding: 0 var(--layout-grid-margin);

  @media (min-width: breakpoints.$max) {
    padding: 0 layout.$spacer-4;
  }
}
