@use "./src/styles/breakpoints";

.containerCss {
  border: 1px solid var(--color-border-default);
  margin: var(--step-5) auto var(--step-5);
}

.headerRowCss {
  align-items: center;
  background-color: var(--color-bg-default);
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  line-height: 1.75;
  padding: 0 var(--step-1);
  position: sticky;
  top: 38px;
  width: 100%;
  z-index: 200;
}

.nameHeaderCss {
  line-height: 2.5;
  text-align: left;
}

.viewingsHeaderCss {
  text-align: right;
  white-space: nowrap;
}

.barCss {
  background-image: linear-gradient(
    to right,
    var(--color-highlight),
    var(--color-highlight) var(--bar-percent),
    transparent var(--bar-percent),
    transparent
  );
  opacity: 33%;
  width: 100%;
}

.nameCss {
  grid-column-end: 2;
  grid-column-start: 1;
  padding: 0 0 0 var(--step-1);
  padding-right: var(--step-1);
  width: 100%;

  a {
    color: var(--color-fg-accent);
  }

  @media (min-width: breakpoints.$tablet) {
    white-space: nowrap;
  }
}

.barSpaceCss {
  display: none;
  padding-right: var(--step-1);

  @media (min-width: breakpoints.$tablet) {
    display: block;
  }
}

.viewingsCss {
  font-feature-settings: "tnum";
  padding: 0 var(--step-1);
  text-align: right;
  vertical-align: top;
}

.nameCss,
.barSpaceCss,
.viewingsCss {
  background-color: var(--color-bg-stripe);
  font-size: 1.125rem;
  line-height: 1.9;
}

.headerCss {
  background-color: var(--color-bg-accent);
  display: block;
  font-size: 1.125rem;
  padding: 0.5rem var(--step-1);
  position: sticky;
  top: 0;
  z-index: 300;
}

.detailsRowCss {
  grid-column-end: 4;
  grid-column-start: 1;
  line-height: 1.75;
  margin: 2px 0;
  padding: 0 var(--step-1);
}

.detailsLabelCss {
  color: var(--color-fg-subtle);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: left;
}

.parentListCss {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.parentListItemCss {
  display: contents;
}
