@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.containerCss {
  margin: 0 auto;

  @media (min-width: breakpoints.$desktop) {
    max-width: unset;
  }

  @media (min-width: breakpoints.$max) {
    border-top: 0;
    padding-top: 0;
  }
}

.headerCss {
  padding: 0 var(--layout-grid-margin);
}

.headingCss {
  padding: layout.$spacer-4 0 0;
  text-align: center;

  @media (min-width: breakpoints.$desktop) {
    padding: layout.$spacer-6 0 0;
    text-align: left;
  }
}

.taglineCss {
  color: var(--color-fg-subtle);
  font-size: 16px;
  line-height: layout.$spacer-4;
  text-align: center;

  @media (min-width: breakpoints.$max) {
    text-align: left;
  }
}

.contentCss {
  display: block;
}
