@use "./src/styles/layout";

.headingCss {
  background-color: var(--color-bg-canvas);
  display: block;
  font-size: 1.125rem;
  line-height: layout.$spacer-4;
  padding: layout.$spacer-2 var(--layout-grid-margin);
  position: sticky;
  top: 0;
  z-index: 100;
}
