@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.listCss {
  display: flex;
  flex-wrap: wrap;
  font-feature-settings: "tnum";
  font-size: 18px;
  gap: layout.$spacer-3;
  justify-content: center;
  line-height: layout.$spacer-4;
  margin-top: layout.$spacer-4;

  @media (min-width: breakpoints.$max) {
    justify-content: flex-start;
  }
}

.listItemCss {
  display: inline-block;
}

.listItemLinkCss {
  color: var(--color-fg-accent);
}

.allTimeCss {
  width: 100%;
}
