{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "import",
    "prettier",
    "jest"
  ],
  "env": {
    "jest/globals": true,
    "node": true,
    "es6": true
  },
  "parserOptions": { "sourceType": "module", "ecmaVersion": 2018 },
  "ignorePatterns": ["node_modules/", "static/", "public/"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["jest-preprocess.js"] }
    ],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:jest/recommended",
        "plugin:jsx-a11y/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": [
        "react",
        "jest",
        "jsx-a11y",
        "import",
        "prettier",
        "@typescript-eslint"
      ],
      "rules": {
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
          }
        ],
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": ["**/*.spec.tsx"] }
        ],
        "import/prefer-default-export": ["off"],
        "no-use-before-define": [0],
        "@typescript-eslint/no-use-before-define": [1],
        "jest/prefer-expect-assertions": [
          "error",
          { "onlyFunctionsWithAsyncKeyword": true }
        ],
        "jsx-a11y/no-onchange": "off"
      },
      "settings": {
        "react": {
          "version": "detect"
        },
        "import/parsers": {
          "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
          "alias": {
            "map": [
              ["@reach/router", "@gatsbyjs/reach-router"]
            ],
            "extensions": [".tsx", ".ts", ".js"]
          },
          "node": {
            "paths": ["./src"],
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
          },
          "typescript": {
            "project": ["./tsconfig.json"]
          }
        }
      }
    }
  ]
}
