.renderedMarkdownCss {
  color: var(--color-text-primary);
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.3px;

  a {
    color: var(--color-link);
  }

  p {
    margin-bottom: 1.4rem;
  }

  blockquote {
    border-left: 0.5rem solid var(--color-background);
    color: var(--color-text-tertiary);
    font-style: italic;
    margin: 1.5em 0;
    padding: 0 var(--step-1);
    position: relative;
    quotes: "\201C""\201D""\2018""\2019";
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
    margin-top: 1.5rem;
  }

  h1 {
    font-size: var(--step-3);
    margin-bottom: var(--step-5);
    text-align: center;
  }

  h2 {
    font-size: var(--step-2);
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: var(--step-1);
    margin-bottom: 0.25rem;
  }

  hr {
    border: 1px solid var(--color-background);
    margin: 2.8rem auto;
    width: 75%;
  }

  img {
    height: 1rem;
    width: auto;
  }

  p:last-child {
    margin-bottom: 0;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.4rem;
  }

  ul {
    list-style-type: none;
    padding-left: 1.4rem;
  }

  li {
    margin-bottom: 1.4rem;
  }
}
