.buttonCss {
  align-items: center;
  background-color: transparent;
  background-color: #357ebd;
  border: solid 1px #357ebd;
  border-radius: 6px;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: bold;
  gap: 1ch;
  justify-content: center;
  line-height: 1rem;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  svg {
    height: 1rem;
    width: 1rem;
  }
}
