.buttonCss {
  background-color: transparent;
  background-color: #77b5e8;
  border: solid 1px var(--color-link);
  border-radius: 4px;
  color: #fff;
  font-size: clamp(14px, 5vw, 15px);
  font-weight: bold;
  margin-top: 1rem;
  padding: calc(var(--step--2) / 2) var(--step--2);

  &:hover {
    cursor: pointer;
  }
}
