@import "./src/styles/breakpoints";

.container {
  border-top: solid 1px var(--color-background);
  display: grid;
  grid-template-areas: ". list ." "pagination pagination pagination";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 38rem) minmax(
      var(--step-1),
      1fr
    );

  @media (min-width: $breakpoint_desktop) {
    border-top: 0;
    grid-template-areas: "list" "pagination";
    grid-template-columns: unset;
  }
}

.list {
  grid-area: list;

  @media (min-width: $breakpoint_desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.list_item {
  @media (min-width: $breakpoint_desktop) {
    border-top: solid 1px var(--color-background);
    display: flex;
    margin-top: var(--step-5);
    padding: 1.5rem 0;
    width: 50%;

    &:nth-child(even) {
      padding-right: var(--step-1);
    }

    &:nth-child(odd) {
      padding-left: var(--step-1);
    }

    &:first-of-type {
      border-top: 0;
      margin-top: 0;
    }

    &:first-of-type,
    &:last-of-type {
      padding: 2.5rem 0;
      width: 100%;
    }
  }

  @media (min-width: 80rem) {
    &:first-of-type {
      padding-top: 0;
    }
  }
}

.review {
  display: grid;
  grid-template-areas: ". . ." "image image image" ". . . " ". header ." ". . ." ". body ." ". . ." ". footer ." ". . ." ". border ." ". . .";
  grid-template-columns: 1fr minmax(auto, 60ch) 1fr;
  grid-template-rows: 2.5rem auto var(--step-1) auto 1.4rem 1fr 1.4rem auto 2.5rem;

  &::after {
    border-bottom: solid 1px var(--color-background);
    content: "";
    display: block;
    grid-area: border;
    height: 1px;
    justify-self: center;
    width: 75%;
  }

  @media (min-width: $breakpoint_desktop) {
    grid-template-areas: "image image image" ". . . " ". header ." ". . ." ". body ." ". . ." ". footer ." ". . ." ". border .";
    grid-template-rows: auto var(--step-1) auto 1.4rem 1fr 2.8rem auto;

    &::after {
      display: none;
    }

    &.first,
    &.last {
      align-items: start;
      column-gap: calc(2 * var(--step-2));
      grid-template-areas: "header image" ". image" "body image" ". image" "footer image";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto var(--step-1) 1fr 1.4rem auto;
    }
  }
}

.image_link {
  border: 0.5em solid #e9e7e0;
  display: block;
  grid-area: image;
}

.review_header {
  display: grid;
  grid-area: header;
  grid-template-areas: "heading" "." "grade" "." "credits";
  grid-template-rows: auto 1.5rem auto 1.5rem auto;
}

.article_heading {
  font-size: var(--step-2);
  font-weight: 700;
  grid-area: heading;
}

.article_footer {
  align-items: flex-start;
  display: flex;
  grid-area: footer;
  justify-content: space-between;
  margin-bottom: -1rem;

  a {
    color: var(--color-link);
  }
}

.date {
  color: var(--color-text-secondary);
  display: flex;
  font-feature-settings: "tnum";
  font-size: 14px;
  font-weight: 300;
  grid-area: slug;
  letter-spacing: 0.25px;
  margin-bottom: 1rem;
  min-width: 130px;
  padding: 9px 0;
  white-space: nowrap;
}

.review_year {
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 300;
}

.review_credits {
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 400;
  grid-area: credits;
  letter-spacing: 0.2px;
  text-align: left;
}

.review_grade {
  align-self: flex-start;
  grid-area: grade;
  height: 1.75rem;
  width: auto;
}

.article_body {
  color: rgba(0, 0, 0, 0.65);
  composes: long_content from "../styles/long_content.scss";
  font-size: 18px;
  grid-area: body;
  text-align: left;
}

.watchlist_links {
  justify-content: flex-end;
}

.pagination {
  grid-area: pagination;
  // @media (min-width: 1076px) {
  //   margin: 0 calc(-1 * var(--step-1));
  // }
}
