@import "./src/styles/breakpoints";

.container {
  @media (min-width: $breakpoint_desktop) {
    padding-bottom: var(--step-5);
  }
}

.review {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $breakpoint_tablet) {
    padding-bottom: 1.5rem;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list_item {
  background-color: darken(#fff, 0.5);
  border-top: solid 1px var(--color-background);
  display: flex;
  flex-direction: column;
  margin-top: var(--step-5);
  max-width: calc((2 * var(--step-1)) + 60ch);
  padding: 1.5rem var(--step-1);

  @media (min-width: $breakpoint_desktop) {
    max-width: none;
    padding: 1.5rem 0;
    width: 50%;

    &:nth-child(even) {
      padding-right: var(--step-1);
    }

    &:nth-child(odd) {
      padding-left: var(--step-1);
    }

    &:first-of-type {
      border-top: 0;
      padding-left: 0;
      padding-top: 1rem;
    }

    &:first-of-type,
    &:nth-last-child(1):nth-child(even) {
      column-gap: calc(2 * var(--step-1));
      display: grid;
      grid-template-areas: "title backdrop" "grade backdrop" "cast-and-crew backdrop" "review backdrop" "footer backdrop";
      grid-template-columns: 1fr calc(50% - var(--step-1));
      padding-right: 0;
      width: 100%;

      .list_item_heading {
        margin-top: 0;
      }

      .list_item_image_link {
        align-self: start;
      }
    }

    @media (min-width: 80rem) {
      padding-top: 2rem;
    }
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.list_item_image_link {
  border: 0.5em solid #e9e7e0;
  grid-area: backdrop;
}

.list_item_heading {
  font-size: var(--step-2);
  font-weight: 700;
  grid-area: title;
  margin-top: var(--step-1);
}

.list_item_footer {
  align-items: flex-start;
  display: flex;
  grid-area: footer;
  margin-top: auto;

  a {
    color: var(--color-link);
  }
}

.list_item_date {
  color: var(--color-text-secondary);
  display: flex;
  font-family: var(--font-sans);
  font-feature-settings: "tnum";
  font-size: 14px;
  font-weight: 300;
  grid-area: slug;
  line-height: 24px;
  line-height: 36px;
  white-space: nowrap;
  width: 150px;
}

.list_item_heading_review_year {
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 300;
}

.list_item_review_meta {
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-top: 1.5rem;
  text-align: left;
}

.review_grade {
  align-self: flex-start;
  grid-area: grade;
  height: 1.75rem;
  margin-top: 1.5rem;
  width: auto;
}

.list_item_excerpt {
  color: rgba(0, 0, 0, 0.65);
  composes: long_content from "../styles/long_content.scss";
  font-size: 18px;
  grid-area: review;
  max-width: 59ch;
  text-align: left;

  p:last-child {
    margin-bottom: 1.4rem;
  }
}

.pagination {
  @media (min-width: $breakpoint_desktop) {
    margin: 0 calc(-1 * var(--step-1));
  }
}
