@import "./src/styles/breakpoints";

.container {
  display: grid;
  grid-template-areas: "image image image" ". title ." ". credits ." ". reviews .";
  grid-template-columns:
    minmax(var(--step-1), 1fr) minmax(auto, 63ch)
    minmax(var(--step-1), 1fr);
  justify-content: space-between;
  margin: 0 auto;
  max-width: 40rem;
  padding-bottom: var(--step-5);
  position: relative;
  row-gap: 3rem;

  @media (min-width: $breakpoint_desktop) {
    grid-template-areas: "image image image" "title title title" "reviews . credits";
    grid-template-columns: minmax(auto, 63ch) 1fr 25%;
    max-width: unset;
  }
}

.reviews {
  display: grid;
  grid-area: reviews;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}

.review {
  border-top: solid 1px var(--color-background);
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1.5rem;
  row-gap: 1rem;

  @media (min-width: $breakpoint_desktop) {
    grid-template-columns: var(--step-1) 1fr;

    > * {
      grid-column: 2;
    }
  }
}

.date_icon {
  margin-right: 0.5rem;
  position: relative;
  top: 2px;
  width: 14px;

  @media (min-width: 41rem) {
    left: -24px;
    position: absolute;
  }
}

.slug {
  color: var(--color-text-secondary);
  font-size: 16px;
  position: relative;
}

.image {
  grid-area: image;
  width: 100%;
}

.title {
  color: #000;
  font-size: var(--step-3);
  grid-area: title;
  line-height: 1.1;
}

.aka_container {
  color: var(--color-text-secondary);
  font-style: italic;
  margin-top: 0.875rem;
}

.aka_list {
  margin-top: 0.5rem;
}

.aka_list_item {
  display: block;
  font-size: 1.125rem;
}

.content {
  position: relative;
}

.grade {
  height: 21px;
  margin-right: 0.5rem;
  position: absolute;
  top: 3px;
  width: auto;
}

.credits {
  align-content: start;
  color: var(--color-text-secondary);
  column-gap: var(--step-1);
  display: grid;
  font-size: 1rem;
  grid-area: credits;
  grid-template-areas: "directors poster" "cast poster" "watchlist poster";
  grid-template-columns: 1fr 25%;
  grid-template-rows: auto auto 1fr auto;
  letter-spacing: 0.2px;

  @media (min-width: $breakpoint_desktop) {
    grid-template-areas: "poster" "directors" "cast" "watchlist";
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
}

.poster {
  align-self: start;
  grid-area: poster;
}

.directors {
  grid-area: directors;

  @media (min-width: $breakpoint_desktop) {
    padding: 1.5rem 0.5rem 0;
  }
}

.cast {
  grid-area: cast;
  margin-top: 1rem;

  @media (min-width: $breakpoint_desktop) {
    padding: 0 0.5rem;
  }
}

.cast_label {
  display: block;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 1rem;

  &::after {
    content: ":";
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.date {
  font-weight: 700;
  letter-spacing: 0.2px;
}

.title_year {
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
  font-size: 18px;
  font-weight: 300;
}

.body {
  grid-area: content;

  > p:first-of-type::before {
    content: "\0020";
    display: inline-block;
    height: auto;
    position: relative;
    width: 115px;
  }
}

.watchlist {
  align-self: start;
  grid-area: watchlist;
  margin-top: 1.5rem;

  a {
    color: var(--color-link);
  }

  @media (min-width: $breakpoint_desktop) {
    padding: 0 0.5rem;
  }
}

.footnotes {
  font-family: var(--font-sans);
  font-size: var(--step--1);
  font-weight: 300;

  ol {
    list-style-type: decimal;
    margin-left: 1rem;
  }

  li {
    display: block;
  }

  p {
    display: inline;
  }
}
