@import "./src/styles/breakpoints";

.container {
  column-gap: var(--step-1);
  display: grid;
  grid-template-areas: "poster movie_meta" "review review";
  grid-template-columns: auto 1fr;
  padding: var(--step-5) var(--step-1);

  @media (min-width: $breakpoint_tablet) {
    column-gap: var(--step-1);

    grid-template-areas: "poster movie_meta" "poster slug" "poster content";
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto 1fr;
    // display: flex;
    // flex-wrap: wrap;
    margin-top: var(--step-5);
  }
}

.review {
  border-top: solid 1px var(--color-background);
  grid-area: review;
  margin-top: 1.5rem;
}

.slug {
  color: var(--color-text-secondary);
  font-family: "PT Sans";
  font-size: 16px;
  grid-area: slug;
  margin-top: 1.5rem;

  @media (min-width: $breakpoint_tablet) {
    align-items: center;
    display: flex;
  }

  // display: flex;
  // flex-direction: column;
  // margin: 0 auto;
  // max-width: 66ch;
  // padding: 0 var(--step-1) var(--step-5);

  // @media (min-width: $breakpoint_desktop) {
  //   column-gap: var(--step-5);
  //   display: grid;
  //   grid-template-areas: "title title" "grade meta" "content meta" "date meta";
  //   grid-template-columns: 63ch 1fr;
  //   grid-template-rows: auto;
  //   margin: 0;
  //   max-width: none;
  // }
}

.image {
  align-self: flex-start;
  grid-area: poster;
  max-width: 300px;
  width: 100px;

  @media (min-width: $breakpoint_tablet) {
    margin-right: 0;
  }
}

.title {
  color: #000;
  font-family: "PT Sans";
  font-size: var(--step-2);
  font-weight: 700;
  grid-area: title;
  line-height: normal;
  padding: 0;

  @media (min-width: $breakpoint_tablet) {
    font-size: 36px;
  }
}

.grade {
  height: 21px;
  margin-right: 0.5rem;
  position: relative;
  top: 2px;
  width: auto;

  @media (min-width: $breakpoint_desktop) {
    margin-top: 0;
  }
}

.movie_meta {
  color: var(--color-text-secondary);
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  grid-column: movie_meta;
  letter-spacing: 0.2px;
}

.cast_label {
  display: block;
  font-weight: 700;
  margin-top: 1rem;

  &::after {
    content: ":";
  }

  // @media (min-width: $breakpoint_desktop) {
  //   display: block;
  //   font-family: var(--font-sans);
  //   font-size: 14px;
  //   font-weight: 300;
  //   margin-top: 1rem;

  //   &:first-of-type {
  //     margin-top: 0;
  //   }
  // }
}

.title_year {
  color: var(--color-text-secondary);
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 300;
}

.body {
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  font-weight: 300;
  grid-area: content;
  letter-spacing: 0.1px;
  line-height: 1.5;
  margin-top: 1.5rem;

  a {
    color: var(--color-link);
  }

  p {
    margin-bottom: 1.4rem;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    // font-family: "Times";
    font-style: italic;
    margin: 1.5em 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

  @media (min-width: 1000px) {
    grid-area: content;
    margin-top: 1.5rem;
  }
}

// .review_meta {
//   border-top: solid 1px var(--color-border);
//   color: var(--color-text-secondary);
//   display: flex;
//   font-family: var(--font-sans);
//   font-size: var(--step--2);
//   margin: var(--step-2) 0 0;
//   padding: var(--step-1);

//   @media (min-width: 1000px) {
//     grid-area: meta;
//   }
// }

.watchlist {
  margin-top: 1.5rem;

  a {
    color: var(--color-link);
  }
}

// .date {
//   align-items: center;
//   color: var(--color-text-secondary);
//   display: flex;
//   font-family: "PT Sans";
//   margin: 1em 0 0;

//   @media (min-width: $breakpoint_desktop) {
//     border: 0;
//     grid-area: date;
//     padding: 0;
//   }
// }

// .review_meta_icon {
//   composes: icon from "../styles/utils.scss";
//   margin-right: 0.75rem;
// }
