.container {
  background-color: var(--color-content-background);
}

.content {
  padding: 0 var(--step-1) var(--step-5);
  display: flex;
  flex-direction: column;
  max-width: 66ch;
  margin: 0 auto;

  @media (min-width: 1000px) {
    max-width: none;
    margin: 0;
    display: grid;
    grid-template-columns: 63ch 1fr;
    grid-template-areas: "title title" "grade meta" "content meta" "date meta";
    grid-template-rows: auto;
    column-gap: var(--step-5);
  }
}

.title {
  padding: 1.5rem 0;
  font-size: var(--step-3);
  @media (min-width: 1000px) {
    grid-area: title;
  }
}

.grade {
  margin-top: 1.5rem;
  height: 28px;
  width: auto;

  @media (min-width: 1000px) {
    grid-area: grade;
    margin-top: 0;
  }
}

.meta {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-secondary);
  letter-spacing: 0.2px;

  @media (min-width: 1000px) {
    grid-area: meta;
    grid-row: 2 / 5;
    border-left: solid 1px var(--color-background);
    padding-left: var(--step-1);
  }
}

.cast_label {
  @media (min-width: 1000px) {
    display: block;
    margin-top: 1rem;
    font-size: 14px;
    font-family: var(--font-sans);
    font-weight: 300;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.title_year {
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
  font-size: var(--step-0);
  font-weight: 300;
}

.body {
  font-size: 18px;
  margin-top: 1.5rem;

  a {
    color: var(--color-link);
  }

  p {
    margin-bottom: 1.4rem;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    // font-family: "Times";
    font-style: italic;
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

  :global .footnotes {
    font-family: var(--font-sans);
    font-size: var(--step--1);
    font-weight: 300;

    ol {
      list-style-type: decimal;
      margin-left: 1rem;
    }

    li {
      display: block;
    }

    p {
      display: inline;
    }
  }

  @media (min-width: 1000px) {
    margin-top: 1.5rem;
    grid-area: content;
  }
}

.review_meta {
  color: var(--color-text-secondary);
  font-size: var(--step--2);
  font-family: var(--font-sans);
  margin: var(--step-2) 0 0;
  padding: var(--step-1);
  border-top: solid 1px var(--color-border);
  display: flex;

  @media (min-width: 1000px) {
    grid-area: meta;
  }
}

.watchlist {
  margin-top: 1.5rem;

  @media (min-width: 1000px) {
    grid-area: watchlist;
  }
}

.date {
  display: flex;
  align-items: center;
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: 300;
  color: var(--color-text-secondary);

  @media (min-width: 1000px) {
    grid-area: date;
    margin: 0;
    border: 0;
    padding: 0;
  }
}

.review_meta_icon {
  composes: icon from "../styles/utils.scss";
  margin-right: 0.75rem;
}
