@import "./src/styles/breakpoints";

.container {
  border-top: solid 1px var(--color-background);
  display: grid;
  grid-template-areas: ". header ." ". . ." ". list ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows: auto var(--step-5) auto var(--step-1) auto var(--step-5) auto var(
      --step-5
    );
  padding-top: var(--step-5);

  @media (min-width: 80rem) {
    border-top: 0;
    padding-top: 0;
  }
}

.page_header {
  grid-area: header;
}

.list {
  display: block;
  grid-area: list;
}

.list_item_title {
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 0.25rem;
  text-rendering: optimizeLegibility;
}

.list_item_title_year {
  color: var(--color-text-secondary);
  font-size: 0.75rem;
  font-weight: 300;
}

.list_item_grade {
  height: 1rem;
  margin-top: 0.15rem;
  width: auto;
}

.list_item_cast_and_crew {
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-top: 1rem;
  text-align: left;
}

.percent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  grid-area: percent;
  margin: 0 auto;
  width: 150px;
}

.heading {
  font-size: var(--step-3);
  text-align: center;

  @media (min-width: $breakpoint_desktop) {
    text-align: left;
  }
}

.tagline {
  color: var(--color-text-secondary);
  font-family: var(--font-serif);
  font-size: 16px;
  text-align: center;

  @media (min-width: $breakpoint_desktop) {
    text-align: left;
  }
}

.year_list {
  margin-top: 1.5rem;
}

.year_list_item {
  display: inline-block;
  margin-right: 2ch;
}

.year_list_item_link {
  color: var(--color-link);
}

.person_link {
  color: var(--color-link);
}

.table_heading {
  font-size: var(--step-1);
  line-height: 2.5;
  text-align: center;

  @media (min-width: $breakpoint_desktop) {
    text-align: left;
  }
}

.table_title_year {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.table {
  border: 1px solid var(--color-background);
  border-collapse: collapse;
  line-height: 1.75;
  margin-bottom: var(--step-5);
  width: 100%;
}

.table_row {
  font-size: 1.125rem;

  &:nth-child(odd) {
    background-color: #e9e7e061;
  }
}

.table_fill_cell {
  padding-right: var(--step-1);
  width: 100%;
}

.table_index_cell {
  font-feature-settings: "tnum";
  text-align: right;
  vertical-align: top;

  @media (min-width: $breakpoint_desktop) {
    padding-left: var(--step-1);
  }
}

.table_count_cell {
  font-feature-settings: "tnum";
  padding-right: var(--step-1);
  text-align: right;
  vertical-align: top;
}

.details_label {
  color: var(--color-text-secondary);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: left;
}

.details_list {
  margin-left: 1rem;
}

.text_header {
  text-align: left;
}

.number_header {
  padding-right: var(--step-1);
  text-align: right;
  white-space: nowrap;
}
