@import "./src/styles/breakpoints";

.containerCss {
  border-top: solid 1px var(--color-background);
  display: grid;
  margin: 0 auto;
  max-width: 40rem;
  padding-top: var(--step-5);

  @media (min-width: $breakpointDesktop) {
    grid-template-columns: 375px 1fr;
    max-width: unset;
  }

  @media (min-width: $breakpointMax) {
    border-top: 0;
    padding-top: 0;
  }
}

.leftCss {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". filters ." ". . ." ". percent ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows: auto var(--step-5) auto var(--step-5) auto var(--step-5);

  @media (min-width: $breakpointDesktop) {
    grid-template-areas: ". header ." ". . ." "filters filters ." ". . ." "percent percent ." ". . .";
  }
}

.rightCss {
  display: grid;
  flex-grow: 1;
  grid-template-areas: "list" "." "pagination" ".";
  grid-template-rows: auto var(--step-1) auto var(--step-5) 1fr;
  padding: 0 var(--step-1);

  @media (min-width: $breakpointDesktop) {
    padding-right: 0;
  }
}

.pageHeaderCss {
  grid-area: header;
}

.filtersCss {
  grid-area: filters;

  legend {
    text-align: center;
  }
}

.listCss {
  column-gap: var(--step-1);
  display: grid;
  grid-area: list;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 1.5rem;
}

.listItemImageLinkCss {
  display: block;
}

.listItemTitleCss {
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 0.25rem;
  text-rendering: optimizeLegibility;
}

.listItemTitleYearCss {
  color: var(--color-text-secondary);
  font-size: 0.75rem;
  font-weight: 300;
}

.listItemGradeCss {
  height: 1rem;
  margin-top: 0.15rem;
  width: auto;
}

.percentCss {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  grid-area: percent;
  margin: 0 auto;
  width: 150px;
}

.percentTotalsCss {
  color: var(--color-text-secondary);
  font-size: 1rem;
  margin-top: 1.5rem;
}
