@import "./src/styles/breakpoints";

.container {
  min-width: 100%;

  @media (min-width: $breakpoint_desktop) {
    background-color: var(--color-content-background);
    column-gap: var(--step-1);
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
}

.left {
  composes: card from "../styles/card.scss";

  @media (min-width: $breakpoint_desktop) {
    grid-area: left;
    max-width: 330px;
  }
}

.right {
  @media (min-width: $breakpoint_desktop) {
    grid-area: right;
  }
}

.page_header {
  composes: header from "../styles/page.scss";
}

.page_heading {
  composes: heading from "../styles/page.scss";
}

.page_tagline {
  composes: tagline from "../styles/page.scss";
}

.avatar {
  border-radius: 50%;
  margin: 0 auto var(--step-5);
  width: 75%;
}

.filters {
  composes: card from "../styles/filters.scss";

  @media (min-width: $breakpoint_desktop) {
    padding: 0;
  }
}

.filters_fieldset {
  composes: fieldset from "../styles/filters.scss";
}

.filter_text_input {
  composes: text_input from "../styles/filters.scss";
}

.filter_select_input {
  composes: select_input from "../styles/filters.scss";
}

.label {
  composes: label from "../styles/filters.scss";
}

.toggle_review_button {
  composes: toggle_button from "../styles/filters.scss";
}

.list {
  background-color: var(--color-content-background);
}

.list_item {
  border-bottom: solid 1px var(--color-background);
  padding: var(--step-5) var(--step-1) var(--step-1);
}

.list_item_image_link {
  display: block;
  margin-bottom: 0.5rem;
}

.list_item_title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
}

.list_item_title_year {
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: 300;
}

.list_item_grade {
  height: 1.125rem;
  width: auto;
}
