@import "./src/styles/breakpoints";

.container {
  border-top: solid 1px var(--color-background);
  display: grid;
  padding-top: var(--step-5);

  @media (min-width: 720px) {
    grid-template-columns: 375px 1fr;
  }

  @media (min-width: 80rem) {
    border-top: 0;
    padding-top: 0;
  }
}

.left {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". filters ." ". . ." ". pagination_info ." ". . ." ". percent ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows: auto var(--step-5) auto var(--step-1) auto var(--step-5) auto var(
      --step-5
    );

  @media (min-width: $breakpoint_desktop) {
    grid-template-areas: ". header ." ". . ." "filters filters ." ". . ." "pagination_info pagination_info ." ". . ." "percent percent ." ". . .";
  }
}

.right {
  display: grid;
  flex-grow: 1;
  grid-template-areas: "list" "." "pagination" ".";
  grid-template-rows: auto var(--step-1) auto var(--step-5) 1fr;
  padding: 0 var(--step-1);

  @media (min-width: $breakpoint_desktop) {
    padding-right: 0;
  }
}

.page_header {
  grid-area: header;
}

.pagination_info {
  color: var(--color-text-secondary);
  grid-area: pagination_info;
  justify-self: center;
}

.pagination {
  color: var(--color-text-secondary);
  grid-area: pagination;
  justify-self: center;
}

.filters {
  grid-area: filters;
}

.list {
  column-gap: var(--step-2);
  display: grid;
  grid-area: list;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  row-gap: var(--step-5);
}

.list_item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
}

.list_item_link {
  display: block;
  width: 100%;
}

.list_item_title {
  flex-grow: 1;
  font-size: 1.125rem;
  line-height: 1.3;
  margin-top: 0.5rem;
  text-align: center;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.progress_right {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  position: absolute;
  top: 0;
}

.list_item_default_image {
  color: #e1e1e1;
}

.progress_ring {
  height: 100%;
  position: absolute;
  top: -9px;
  width: 100%;
  z-index: 100;
}

.list_item_avatar {
  border-radius: 50%;
  margin: 0 auto;
  width: calc(100% - 18px);
}

.list_item_graph {
  max-width: 150px;
}

.list_item_reviewed_total {
  color: var(--color-text-secondary);
  margin-top: 0.5rem;
}

.percent_background {
  fill: none;
  stroke: #eee;
  stroke-width: 1;
}

.percent_progress {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke: #77e895;
  stroke-linecap: round;
  stroke-width: 0.9;
}

.progress_stats {
  color: var(--color-text-secondary);
  font-size: 1rem;
  text-align: center;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
