@use "sass:color";

.linkCss {
  border: solid 1px color.adjust(#e9e7e0, $lightness: -5%);
  border-radius: 4px;
  color: var(--color-link);
  display: inline-block;
  font-size: clamp(14px, 5vw, 15px);
  margin: 1rem auto 0;
  padding: calc(var(--step--2) / 2) var(--step--2);
  white-space: nowrap;
}

.iconCss {
  height: auto;
  width: 16px;
}
