.inputCss {
  appearance: none;
  border: 0;
  border-bottom: solid 1px var(--color-background);
  border-radius: 0;
  font-size: 1rem;
  padding: calc(var(--step--2) / 2) 0;
}

.labelCss {
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 1.5rem;
}
