@use "sass:color";

.inputCss {
  background-color: #fafafa;
  border: solid 1px var(--color-background);
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 4px;
  padding: calc(0.5em - 1px) calc(0.75em - 1px);
}

.labelCss {
  color: var(--color-text-secondary);
  display: grid;
  font-size: 14px;
  font-weight: bold;
  grid-template-columns: auto;
  grid-template-rows: 1.5rem auto;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
