@use "./src/styles/breakpoints";

.containerCss {
  border-top: solid 1px var(--color-border-default);
  display: grid;
  margin: 0 auto;
  max-width: 40rem;
  padding-top: var(--step-5);

  @media (min-width: breakpoints.$desktop) {
    grid-template-columns: 375px 1fr;
    max-width: unset;
  }

  @media (min-width: breakpoints.$max) {
    border-top: 0;
    padding-top: 0;
  }
}

.leftCss {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". filters ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows: auto var(--step-5) auto var(--step-1);

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "header header ." ". . ." "filters filters ." ". . .";
  }
}

.rightCss {
  display: grid;
  grid-template-areas: "list" "." "show_more" ".";
  grid-template-columns: 1fr;
  grid-template-rows: auto var(--step-1) auto var(--step-5) 1fr;
  padding: 0 var(--step-1);

  @media (min-width: breakpoints.$desktop) {
    padding-right: 0;
  }
}

.pageHeaderCss {
  grid-area: header;
}

.filtersCss {
  grid-area: filters;

  @media (min-width: breakpoints.$tablet) and (max-width: breakpoints.$desktop - 1px) {
    margin: 0 calc(-1 * var(--step-1));
  }

  @media (min-width: breakpoints.$desktop) and (min-height: breakpoints.$tablet) {
    position: sticky;
    top: var(--step-5);
  }
}

.quoteCss {
  color: var(--color-fg-subtle);
  display: block;
  font-weight: bold;
  margin-bottom: var(--step--1);
}

.listInfoCss {
  color: var(--color-fg-subtle);
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 300;
  grid-area: list_info;
  justify-self: center;
  margin-top: var(--step-1);
  text-align: center;
}

.showMoreCss {
  grid-area: show_more;

  @media (max-width: breakpoints.$tablet) {
    margin-left: var(--step-1);
    padding-right: var(--step-1);
  }
}

.listHeaderGroupCss {
  background-color: var(--color-bg-accent);
  display: block;
  font-size: 1.125rem;
  margin: 0 calc(-1 * var(--step-1));
  padding: 0.5rem var(--step-1);
  position: sticky;
  top: 0;

  @media (min-width: breakpoints.$tablet) {
    margin: 0 calc(-0.5 * var(--step-1));
    padding: 0.5rem calc(0.55 * var(--step-1));
  }
}

.calloutCss {
  font-weight: bold;
}

.genresWrapCss {
  color: var(--color-fg-subtle);
  display: grid;
  font-size: 1rem;
  font-weight: normal;
  grid-template-columns: auto;
  grid-template-rows: 1.5rem auto;
  letter-spacing: normal;
  z-index: 200;
}

.genresSelectLabelCss {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
