@use "./src/styles/breakpoints";

.containerCss {
  border-top: solid 1px var(--color-background);
  display: grid;
  margin: 0 auto;
  max-width: 40rem;
  padding-top: var(--step-5);

  @media (min-width: breakpoints.$desktop) {
    grid-template-columns: 375px 1fr;
    max-width: unset;
  }

  @media (min-width: 80rem) {
    border-top: 0;
    padding-top: 0;
  }
}

.leftCss {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". filters ." ". . ." ". pagination_info ." ". . ." ". toggle ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows: auto var(--step-5) auto var(--step-1) auto 1.5rem auto var(
      --step-5
    );

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "header header ." ". . ." "filters filters ." ". . ." "pagination_info pagination_info ." ". . ." "toggle toggle ." ". . .";
  }
}

.rightCss {
  display: grid;
  grid-template-areas: "list" "." "pagination" ".";
  grid-template-columns: 1fr;
  grid-template-rows: auto var(--step-1) auto var(--step-5);
}

.pageHeaderCss {
  grid-area: header;
}

.filtersCss {
  grid-area: filters;
}

.listCss {
  display: grid;
  grid-area: list;
  grid-template-columns: 1fr auto calc(75px + 2 * var(--step--2));
}

.listItemCss {
  display: contents;
  &:nth-child(odd) > * {
    background-color: #e9e7e061;
  }
}

.listItemTitleCss {
  color: var(--color-link);
  font-size: 16px;
  padding: 0.5rem var(--step--2) 0.5rem var(--step--1);
}

.listItemTitleYearCss {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.listItemSlugCss {
  color: var(--color-text-secondary);
  display: contents;
  font-feature-settings: "tnum";
  font-size: 0.875rem;
}

.listItemLetterGradeCss {
  color: var(--color-text-secondary);
  font-feature-settings: "tnum";
  font-size: 0.875rem;
  letter-spacing: 2px;
  padding: 0.5rem 0;
  text-align: left;
}

.listItemGradeCss {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem var(--step--2);
}
