@use "./src/styles/breakpoints";

.containerCss {
  border-top: solid 1px var(--color-background);
  display: grid;
  margin: 0 auto;
  max-width: 40rem;
  padding-top: var(--step-5);

  @media (min-width: breakpoints.$desktop) {
    grid-template-columns: 375px 1fr;
    max-width: unset;
  }

  @media (min-width: 80rem) {
    border-top: 0;
    padding-top: 0;
  }
}

.leftCss {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". filters ." ". . ." ". pagination_info ." ". . ." ". toggle ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows: auto var(--step-5) auto var(--step-1) auto 1.5rem auto var(
      --step-5
    );

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "header header ." ". . ." "filters filters ." ". . ." "pagination_info pagination_info ." ". . ." "toggle toggle ." ". . .";
  }
}

.rightCss {
  display: grid;
  grid-template-areas: "list" "." "pagination" ".";
  grid-template-columns: 1fr;
  grid-template-rows: auto var(--step-1) auto var(--step-5);
}

.pageHeaderCss {
  grid-area: header;
}

.filtersCss {
  grid-area: filters;
}

.listCss {
  display: block;
  grid-area: list;
}

.listItemCss {
  align-items: end;
  column-gap: 0.5rem;
  display: grid;
  grid-template-areas: "title grade" "date .";
  grid-template-columns: auto 45px;
  grid-template-rows: auto 20px;
  padding: 1.25rem 0 1.25rem var(--step-1);
  row-gap: 0.25rem;

  &:nth-child(odd) {
    background-color: #e9e7e061;
  }
}

.listItemTitleCss {
  color: inherit;
  font-size: 1.125rem;
  grid-area: title;
  overflow: hidden;
  position: relative;

  &::after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    opacity: 50%;
    padding-left: 0.25ch;
    position: absolute;
    text-align: right;
  }
}

.listItemTitleYearCss {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.listItemLetterGradeCss {
  color: inherit;
  font-feature-settings: "tnum";
  font-size: 1.125rem;
  grid-area: grade;
  letter-spacing: -1px;
  position: relative;
  width: 40px;
}

.listItemGradeACss {
  color: #379634;
}

.listItemGradeBCss {
  color: #6f9e26;
}

.listItemGradeCCss {
  color: #aba716;
}

.listItemGradeDCss {
  color: #b66522;
}

.listItemGradeFCss {
  color: #c1292e;
}

.listItemDateCss {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  grid-area: date;
  letter-spacing: 0.5px;
  padding: 0 var(--step-1) 0 0;
}
