@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.titleCss {
  font-size: 32px;
  line-height: layout.$spacer-5;

  @media (min-width: breakpoints.$desktop) {
    font-size: 36px;
    line-height: layout.$spacer-6;
  }
}
