.percent_graph {
  display: block;
}

.percent_number {
  font-size: 0.5em;
  text-anchor: middle;
}

.percent_totals {
  color: var(--color-text-secondary);
  font-size: 1rem;
  margin-top: 1.5rem;
}

.percent_graph_background {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.percent_graph_progress {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke: #77e895;
  stroke-linecap: round;
  stroke-width: 2.8;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
