@use "./breakpoints";

:root {
  --color-bg-accent: #0056b3;
  --color-bg-canvas: #e9e7e0;
  --color-bg-default: #fff;
  --color-bg-progress: #14bd41;
  --color-fg-inverse: rgb(255 255 255 / 75%);
  --color-bg-stripe: #f7f5f3;
  --color-bg-subtle: #fafafa;
  --color-border-accent: #054a93;
  --color-border-default: #e9e7e0;
  --color-border-subtle: #e6e6e6;
  --color-fg-accent: #0056b3;
  --color-fg-default: rgb(0 0 0 / 75%);
  --color-fg-muted: rgb(0 0 0 / 65%);
  --color-fg-on-accent: #fff;
  --color-fg-subtle: rgb(0 0 0 / 60%);
  --font-serif: "Charter", "Iowan Old Style", "Georgia", "Cambria",
    '"Times New Roman"', "Times", "serif";
  --layout-grid-margin: 20px;
}

@media screen and (min-width: breakpoints.$tablet) {
  :root {
    --layout-grid-margin: 48px;
  }
}

@media (min-width: breakpoints.$max) {
  :root {
    --layout-grid-margin: 64px;
  }
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-canvas: #484745;
    --color-bg-default: #322f2f;
    --color-bg-progress: #379634;
    --color-bg-stripe: #48474563;
    --color-bg-subtle: #242424;
    --color-border-accent: #499ef8;
    --color-border-default: #484745;
    --color-border-subtle: rgb(0 0 0 / 15%);
    --color-fg-accent: #499ef8;
    --color-fg-default: rgb(255 255 255 / 75%);
    --color-fg-muted: rgb(255 255 255 / 65%);
    --color-fg-subtle: rgb(255 255 255 / 60%);
  }
}
