.label {
  font-size: clamp(14px, 5vw, 15px);
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  margin-top: var(--step-0);
}

.input {
  padding: calc(var(--step--2) / 2) 0;
  border: 0;
  border-radius: 0;
  appearance: none;
  font-size: 14px;
}

.text_input {
  composes: input;
  border-bottom: solid 1px var(--color-background);
}

.select_input {
  composes: input;
  color: var(--color-link);
  background-color: transparent;
}

.fieldset {
  border: solid 1px var(--color-background);
  font-size: var(--step-1);
}

.card {
  border-top: solid 1px var(--color-background);
  border-bottom: solid 1px darken(#e9e7e0, 5);
  background-color: var(--color-content-background);
  padding: var(--step-5) var(--step-1);

  @media (min-width: 1000px) {
    border: 0;
    padding-top: 0;
  }
}

.toggle_button {
  margin-top: var(--step-0);
  font-size: clamp(14px, 5vw, 15px);
  border: solid 1px var(--color-background);
  padding: calc(var(--step--2) / 2) var(--step--2);
  color: var(--color-link);
}
