@import "./src/styles/breakpoints";

.label {
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: var(--step-0);
}

.input {
  appearance: none;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  padding: calc(var(--step--2) / 2) 0;
}

.text_input {
  border-bottom: solid 1px var(--color-background);
  composes: input;
}

.select_input {
  background-color: transparent;
  color: var(--color-link);
  composes: input;
  font-size: 15px;
}

.fieldset {
  border: solid 1px var(--color-background);
  color: var(--color-text-secondary);
  font-size: var(--step-1);
}

.toggle_button {
  border: solid 1px darken(#e9e7e0, 5);
  border-radius: 4px;
  color: var(--color-link);
  font-size: clamp(14px, 5vw, 15px);
  margin-top: var(--step-0);
  padding: calc(var(--step--2) / 2) var(--step--2);
}
