@import "./src/styles/breakpoints";

.list {
  background-color: var(--color-content-background);
  border-bottom: solid 1px darken(#e9e7e0, 5);
  border-top: solid 1px var(--color-background);
  padding-left: var(--step-1);

  @media (min-width: $breakpoint_desktop) {
    border: 0;
    padding-top: 0;
  }
}

.list_item {
  border-bottom: solid 1px var(--color-background);
  display: block;
  padding-right: var(--step-1);

  @media (min-width: $breakpoint_desktop) {
    border-right: solid 1px var(--color-background);
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.list_item_title_year {
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
  font-size: 14px;
}

.list_item_title {
  font-size: 18px;
  padding: 1.5rem var(--step-1) 0.25rem 0;
}

.list_item_title_link {
  color: var(--color-link);

  .list_item_title_year {
    color: var(--color-text-secondary);
  }
}

.list_item_slug {
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
  font-size: 14px;
  padding: 0 var(--step-1) 1.5rem 0;
}
