.long_content {
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1px;
  margin-top: 1.5rem;
  max-width: 63ch;

  a {
    color: var(--color-link);
  }

  p {
    margin-bottom: 1.4rem;
  }

  blockquote {
    // background: #f9f9f9;
    // border-left: 10px solid #ccc;
    border-left: 0.5rem solid var(--color-background);
    color: rgba(0, 0, 0, 0.65);
    // font-size: 95%;
    // letter-spacing: 0.15px;
    font-style: italic;
    // letter-spacing: 0.5px;
    margin: 1.5em 0;
    padding: 0 var(--step-1);
    position: relative;
    quotes: "\201C""\201D""\2018""\2019";
  }

  // blockquote::before {
  //   color: var(--color-background);
  //   content: open-quote;
  //   font-size: 6rem;
  //   left: 0;
  //   line-height: 0.1em;
  //   margin-right: 0.25em;
  //   position: absolute;
  //   top: 2.4rem;
  //   vertical-align: -0.4em;
  // }

  // blockquote::after {
  //   bottom: -1rem;
  //   color: var(--color-background);
  //   content: close-quote;
  //   font-size: 6em;
  //   line-height: 0.1em;
  //   margin-right: 0.5rem;
  //   position: absolute;
  //   right: 0;
  //   vertical-align: -0.4em;
  // }

  blockquote p {
    display: inline;
  }

  p:last-child {
    margin-bottom: 0;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.4rem;
  }

  ol > li {
    margin-bottom: 1.4rem;
  }
}
