.sr_only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon {
  fill: var(--color-text-secondary);
  height: auto;
  width: 18px;
}

.card {
  background-color: darken(#fff, 0.5);
  // background-color: var(--color-content-background);
  // border-bottom: solid 1px darken(#e9e7e0, 5);
  // border-top: solid 1px darken(#e9e7e0, 5);
}

.not_sr_only {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: static;
  white-space: normal;
  width: auto;
}
