.fieldsetCss {
  border: solid 1px var(--color-border-default);
  color: var(--color-fg-subtle);
  font-size: var(--step-1);
  padding: 1.5rem;
}

.wrapperCss {
  display: flex;
  flex-wrap: wrap;
  gap: var(--step-3);
  justify-content: space-between;

  & > * {
    flex-basis: 260px;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.legendCss {
  text-align: center;
}
