@use "./src/styles/layout";
@use "./src/styles/breakpoints";

.fieldsetCss {
  border: solid 1px var(--color-border-default);
  border-radius: 4px;
  color: var(--color-fg-subtle);
  margin-inline-end: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: layout.$spacer-4 - 1;
  padding-inline-start: layout.$spacer-4 - 1;
}

.wrapperCss {
  display: flex;
  flex-wrap: wrap;
  gap: layout.$spacer-4;
  justify-content: space-between;
  padding: layout.$spacer-4 - 0.5 0;

  & > * {
    flex-basis: 256px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  @media (min-width: breakpoints.$tablet) {
    gap: layout.$spacer-5;
  }
}

.legendCss {
  font-size: 18px;
  line-height: layout.$spacer-4;
  padding: 0 1ch;
  text-align: center;
}
