@import "./src/styles/global";
@import "./src/styles/vars";
@import "./src/styles/breakpoints";

.outer {
  background-color: darken(#fff, 0.5);
  margin: 0 auto;
  max-width: $breakpoint_max;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  margin: 0 auto;
  max-width: $breakpoint_desktop;
  min-height: 100vh;
  position: relative;

  @media (min-width: $breakpoint_desktop) {
    padding-top: var(--step-1);
  }

  // &.mast_nav_visible {
  //   left: 0;
  //   overflow-y: scroll;
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  // }

  // @media (min-width: $breakpoint_desktop) {
  //   background-color: var(--color-content-background);
  // }

  // @media (min-width: $breakpoint_max) {
  //   column-gap: var(--step-1);
  //   display: grid;
  //   grid-template-areas: "header header" "children sidebar" "footer footer";
  //   grid-template-columns: 1025.2px 1fr;
  //   grid-template-rows: auto 1fr auto;
  //   max-width: $breakpoint_max;
  //   padding: 0 var(--step-1) 0;
  // }
}

.skip_link {
  background: #319795;
  color: #fff;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
}

.skip_link:focus {
  transform: translateY(0%);
}

.mast_header {
  align-items: center;
  display: flex;
  flex: 0 0 content;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -1rem;
  padding: var(--step-2) var(--step-1);
  width: 100%;

  @media (min-width: $breakpoint_desktop) {
    padding-bottom: var(--step-5);
  }
}

.mast_logo {
  column-gap: var(--step-1);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: var(--step-1);

  // &::before {
  //   align-items: center;
  //   align-self: center;
  //   background: #202020 url("/assets/ripnotcomingsoon.jpg") repeat;
  //   color: #fff;
  //   content: "M";
  //   display: flex;
  //   font-size: var(--step-2);
  //   grid-area: logo;
  //   height: var(--step-5);
  //   justify-content: center;
  //   margin-bottom: var(--sz-8);
  //   position: relative;
  //   text-align: center;
  //   width: var(--step-5);
  // }
}

.mast_title {
  color: var(--color-link);
  font-family: "PT Sans";
  font-size: 30px;
  grid-area: title;
  line-height: 1;
  white-space: nowrap;
}

.mast_tagline {
  color: rgba(0, 0, 0, 0.65);
  font-size: var(--step--2);
  font-style: italic;
  grid-area: tagline;
}

.mast_nav {
  width: 100%;

  @media (min-width: $breakpoint_tablet) {
    // border-top: solid 1px var(--color-background);
  }
}
// background-color: #222;
// display: inline-flex;
// justify-content: baseline;
// left: 0;
// order: 1;
// top: 0;

// .mast_nav_visible & {
//   align-content: center;
//   background-color: var(--color-background);
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   justify-content: center;
//   width: 100%;
//   z-index: 100;
// }

// @media (min-width: $breakpoint_max) {
//   background-color: transparent;
//   grid-area: sidebar;
// }
// }

// .mast_nav_heading {
//   display: none;
//   font-size: var(--step-3);
//   font-weight: bold;
//   padding: 0 var(--step-0);

//   .mast_nav_visible & {
//     display: block;
//   }
// }

.mast_nav_list {
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(15px, 4vw, 16px);
  margin-bottom: -1rem;
  padding: 0 var(--step-1);
  white-space: nowrap;

  @media (min-width: $breakpoint_tablet) {
    justify-content: flex-start;
  }

  // .mast_nav_visible & {
  //   background: transparent;
  //   display: flex;
  //   flex-direction: column;
  //   margin-top: var(--step-3);
  // }

  // @media (min-width: $breakpoint_max) {
  //   background: transparent;
  //   display: flex;
  //   flex-direction: column;
  //   width: 100%;
  // }
}

// .mast_nav_list_item:global.js_hidden {
//   .mast_nav_visible & {
//     display: block !important;
//   }
// }

.mast_nav_list_item {
  background-color: darken(#fff, 2);
  border: solid 1px var(--color-background);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  color: var(--color-link);
  display: block;
  // color: #fff;
  font-family: "PT Sans";
  line-height: var(--step-4);
  margin-bottom: 1rem;
  margin-right: clamp(0.75rem, 2vw, var(--step-1));
  padding: 0 var(--step-1);
  position: relative;
  white-space: nowrap;

  @media (min-width: $breakpoint_tablet) {
    background-color: transparent;
    border: 0;
    border-right: solid 1px var(--color-background);
    border-top: solid 1px var(--color-background);
    margin: 0;
    padding-right: var(--step-1);

    &:first-of-type {
      margin-left: calc(-1 * var(--step-1));
      padding-left: var(--step-1);
    }

    @media (min-width: $breakpoint_desktop) {
      &:first-of-type {
        margin-left: 0;
        // padding-left: var(--step-1);
      }
    }
  }

  // .mast_nav_visible & {
  //   background: transparent;
  //   color: inherit;
  //   flex-direction: column;
  //   font-size: var(--step-1);
  // }

  // @media (min-width: 1300px) {
  //   color: var(--color-link);
  //   font-size: 16px;
  //   letter-spacing: 1px;
  // }
}

.mast_nav_link_active {
  color: var(--color-text-secondary);
  // &::after {
  //   background: var(--color-background);
  //   bottom: -1px;
  //   content: "";
  //   height: 5px;
  //   left: 0;
  //   position: absolute;
  //   right: 0;
  // }

  // .mast_nav_visible &::after {
  //   display: none;
  // }

  // @media (min-width: 1300px) {
  //   color: var(--color-text-secondary);
  //   &::after {
  //     display: none;
  //   }
  // }
}

// .mast_nav_menu_button,
// .mast_nav_search_button {
//   background-color: transparent;
//   border: 0;
//   // border-left: solid 1px var(--color-background);
//   height: var(--step-5);
//   padding: 0 var(--step-1);
// }

// .mast_nav_menu_button {
//   margin-left: auto;
//   z-index: 200;

//   .mast_nav_visible & {
//     position: absolute;
//     right: 0;
//     top: 0;
//   }
// }

// .mast_nav_search_button {
//   margin-left: auto;

//   .mast_nav_search_visible & {
//     background-color: var(--color-background);
//   }

//   .mast_nav_visible & {
//     display: none;
//   }

//   @media (min-width: 768px) {
//     display: none;
//   }
// }

// .mast_nav_menu_icon {
//   fill: #fff;
//   height: var(--step-0);
//   width: var(--step-0);
// }

// .mast_nav_search_icon {
//   fill: #fff;
//   height: var(--step-0);
//   width: var(--step-0);

//   .mast_nav_search_visible & {
//     fill: #000;
//   }
// }

.mast_search_form {
  flex-grow: 1;
  margin-bottom: 1rem;
  // max-width: 50%;
  min-width: 25%;

  @media (min-width: $breakpoint_tablet) {
    max-width: 350px;
    // opacity: 1;
    // position: static;
    // transition: none;
    // width: 40%;
    // z-index: 0;
  }
}

.mast_search_wrap {
  align-items: center;
  align-items: stretch;
  border: solid 1px #000;
  border-color: darken(#e9e7e0, 10);
  display: flex;

  .mast_nav_visible & {
    border-color: darken(#e9e7e0, 10);
    display: flex;
  }

  @media (min-width: 768px) {
    align-items: stretch;
    border: solid 1px darken(#e9e7e0, 10);
    display: flex;
    margin: 0;
  }

  @media (min-width: 1300px) {
    min-height: 0;
  }
}

.mast_search_label,
.footer_search_label {
  composes: sr_only from "../../styles/utils.scss";
}

.mast_search_input {
  border: 0;
  flex-grow: 1;
  font-size: var(--step--2);
  font-weight: 300;
  padding: 0 1rem;

  .mast_nav_visible & {
    border-color: darken(#e9e7e0, 10);
  }

  @media (min-width: 768px) {
    border: 0;
    font-size: var(--step--2);
    font-weight: 300;
    padding: 0 1rem;
  }

  @media (min-width: 1300px) {
    flex-grow: unset;
    width: 100%;
  }
}

.mast_search_submit {
  border: 0;
  border-left: solid 1px darken(#e9e7e0, 10);
  font-size: var(--step--1);
  padding: calc(var(--step--1) / 3) var(--step--1);

  @media (min-width: 768px) {
    display: inline-block;
    font-size: var(--step--2);
    font-weight: 300;
    margin: 0;
  }
}

.footer {
  align-items: center;
  background-color: #202020;
  color: #d2d2d2;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans";
  font-size: 16px;
  justify-content: space-between;
  // max-height: 100px;
  // order: 4;
  padding: var(--step-3) var(--step-1);
  width: 100%;

  // @media (min-width: $breakpoint_max) {
  //   grid-area: footer;
  //   margin: 0 calc(-1 * var(--step-1));
  //   max-height: 200px;
  // }
}

.children {
  flex: 1 0 auto;
  // order: 3;

  @media (min-width: $breakpoint_desktop) {
    box-sizing: border-box;
    max-width: 1000px;
    padding: 0 var(--step-1);
  }
}

.footer_nav_list {
  text-align: center;
}

.footer_nav_list_item {
  display: inline-block;
  margin: 0.5rem;
}

.footer_to_the_top {
  composes: sr_only from "../../styles/utils.scss";
}

.footer_fair_use {
  // font-family: var(--font-sans);
  font-size: 13px;
  font-weight: 300;
  margin-top: var(--step-5);
}

.footer_search_form {
  margin-top: 1.5rem;
}

.footer_search_wrap {
  display: flex;
}

.footer_search_input {
  border: 0;
  font-size: 14px;
  height: 2rem;
  padding: 0 var(--step-1);
}

.footer_search_submit {
  border: 0;
  border-left: solid 1px var(--color-text-secondary);
  display: inline-block;
  height: 2rem;
  padding: 0 12px;
}
