@use "./src/styles/breakpoints";
@use "./src/styles/global";
@use "./src/styles/layout";
@use "sass:color";

.containerCss {
  background-color: var(--color-bg-default);
  display: grid;
  grid-template-areas: "border" "header" "content" "footer";
  margin: 0 auto;
  max-width: clamp(1000px, 95vw, #{breakpoints.$max});
  min-height: 100vh;
  position: relative;

  &::before {
    background: #202020 url("/assets/ripnotcomingsoon.jpg") repeat;
    content: "\0020";
    display: block;
    grid-area: border;
    height: layout.$spacer-3;

    @media (prefers-color-scheme: dark) {
      filter: brightness(0.8) contrast(1.2);
    }
  }

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "border border border" ". . ." ". header ." ". content ." "footer footer footer";
    grid-template-columns:
      minmax(var(--layout-grid-margin), 1fr) minmax(auto, 1000px)
      minmax(var(--layout-grid-margin), 1fr);
    grid-template-rows: auto layout.$spacer-7 auto 1fr auto;
  }

  @media (min-width: breakpoints.$max) {
    align-items: start;
    grid-template-areas: "border border border border border" ". . . . ." ". content . header ." "footer footer footer footer footer";
    grid-template-columns:
      var(--layout-grid-margin) 1000px layout.$spacer-6
      1fr var(--layout-grid-margin);
    grid-template-rows: auto layout.$spacer-8 1fr auto;
    max-width: breakpoints.$max;
  }
}

.skipLinkCss {
  background: var(--color-bg-subtle);
  color: var(--color-fg-accent);
  left: 50%;
  margin: 0 auto;
  padding: layout.$spacer-2 layout.$spacer-3;
  position: absolute;
  text-align: center;
  top: 2px;
  transform: translate(-50%, calc(-100% - 2px));
  z-index: 100;

  &:focus {
    transform: translate(-50%, 0%);
  }
}

.mastHeaderCss {
  border-bottom: solid 1px var(--color-border-default);
  display: grid;
  grid-area: header;
  grid-template-areas: ". . ." ". logo ." ". tagline ." ". . ." ". search ." ". . ." ". nav ." ". . .";
  grid-template-columns:
    minmax(var(--layout-grid-margin), 1fr) minmax(auto, 520px)
    minmax(var(--layout-grid-margin), 1fr);
  grid-template-rows:
    layout.$spacer-4 auto auto layout.$spacer-4 auto layout.$spacer-4
    auto layout.$spacer-4 - 1;
  justify-items: center;

  @media (min-width: breakpoints.$desktop) {
    column-gap: var(--spacer-7);
    column-gap: layout.$spacer-8;
    grid-template-areas: "logo search" "tagline . " ". ." "nav nav" ". .";
    grid-template-columns: auto;
    grid-template-rows: auto auto layout.$spacer-5 auto layout.$spacer-6;
    justify-items: start;
  }

  @media (min-width: breakpoints.$max) {
    border-bottom: 0;
    column-gap: unset;
    grid-template-areas: "logo logo logo" "tagline tagline tagline" ". . ." "search search search" ". . ." ". nav .";
    grid-template-columns: layout.$spacer-3 auto layout.$spacer-3;
    grid-template-rows: auto auto layout.$spacer-4 auto layout.$spacer-7;
    justify-items: start;
    position: sticky;
    top: layout.$spacer-7;
  }
}

.mastTitleCss {
  font-size: 25px;
  grid-area: logo;
  line-height: layout.$spacer-5;
  white-space: nowrap;

  @media (min-width: breakpoints.$desktop) and (max-width: breakpoints.$max - 1) {
    font-size: 30px;
  }
}

.mastTaglineCss {
  color: var(--color-fg-muted);
  font-size: 14px;
  font-style: italic;
  grid-area: tagline;
  line-height: layout.$spacer-3;

  @media (min-width: breakpoints.$desktop) {
    font-size: 15px;
    line-height: layout.$spacer-4;
    padding-left: 1px;
  }
}

.mastNavCss {
  grid-area: nav;
  justify-self: stretch;
}

.mastNavListCss {
  column-gap: layout.$spacer-3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 1.5;
  row-gap: layout.$spacer-2;
  white-space: nowrap;

  @media (min-width: breakpoints.$tablet) {
    column-gap: layout.$spacer-4;
    padding: 0 layout.$spacer-4;
  }

  @media (min-width: breakpoints.$desktop) {
    justify-content: flex-start;
    padding: 0;
  }

  @media (min-width: breakpoints.$max) {
    border-bottom: 0;
    flex-direction: column;
    padding: 0;
    width: 80%;
  }
}

.mastNavListItemCss {
  color: var(--color-fg-accent);
  display: block;
  position: relative;
  white-space: nowrap;

  @media (min-width: breakpoints.$desktop) {
    &:first-of-type {
      padding-left: 1px;
    }
  }

  @media (min-width: breakpoints.$max) {
    padding: 0;

    &:first-of-type {
      padding-left: 0;
    }
  }
}

.mastNavLinkCss {
  @media (min-width: breakpoints.$max) {
    border-bottom: 1px solid var(--color-border-default);
    display: block;
    line-height: layout.$spacer-7 - 1;
    white-space: nowrap;
  }
}

.mastNavLinkActiveCss {
  color: var(--color-fg-muted);
}

.mastSearchFormCss {
  grid-area: search;
  justify-self: stretch;
}

.mastSearchWrapCss {
  align-items: stretch;
  border: solid 1px var(--color-border-default);
  border-radius: 4px;
  display: flex;
  margin: 0;
  overflow: hidden;
}

.mastSearchInputCss {
  background: var(--color-bg-subtle);
  border: 0;
  border-radius: 0;
  color: var(--color-fg-default);
  flex-grow: 1;
  font-size: 16px;
  font-weight: 300;
  line-height: layout.$spacer-4;
  min-width: 0;
  padding: layout.$spacer-2 - 1 layout.$spacer-3 - 1;
  @media (min-width: breakpoints.$max) {
    flex-grow: unset;
    width: 100%;
  }
}

.mastSearchSubmitCss {
  background: var(--color-bg-subtle);
  border: 0;
  border-left: solid 1px var(--color-border-default);
  font-size: 12px;
  padding: 5px 12px;
}

.mastSearchIconCss {
  height: 16px;
  width: 16px;
}

.childrenCss {
  grid-area: content;
}

.footerCss {
  align-items: center;
  background: #202020 url("/assets/ripnotcomingsoon.jpg") repeat;
  color: var(--color-fg-inverse);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  grid-area: footer;
  justify-items: center;
  padding: layout.$spacer-5 var(--layout-grid-margin);
  row-gap: layout.$spacer-4;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.8) contrast(1.2);
  }
}

.footerNavListCss {
  column-gap: layout.$spacer-3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: layout.$spacer-2;
  white-space: nowrap;
}

.footerNavListItemCss {
  display: block;
  line-height: 1.5;
}

.footerFairUseCss {
  font-size: 14px;
  font-weight: 300;
  grid-area: notice;
  line-height: 16px;
}
