@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.containerCss {
  display: grid;
  grid-template-columns: var(--layout-grid-margin) 1fr var(--layout-grid-margin);
  margin: 0 auto;
  padding-bottom: layout.$spacer-5;
  padding-top: layout.$spacer-4;

  @media (min-width: breakpoints.$desktop) {
    column-gap: layout.$spacer-5;
    grid-template-columns: 352px 1fr;
    max-width: unset;
    padding-top: layout.$spacer-5;
  }

  @media (min-width: breakpoints.$max) {
    border-top: 0;
    padding-top: 0;
  }
}

.leftCss {
  align-content: start;
  display: grid;
  grid-column: 2;
  grid-template-areas: "header" "filters";
  row-gap: layout.$spacer-5;

  @media (min-width: breakpoints.$desktop) {
    grid-column: 1;
  }
}

.rightCss {
  display: grid;
  grid-column: 2;
  grid-template-areas: "list" "show_more";
  row-gap: layout.$spacer-4;

  @media (min-width: breakpoints.$desktop) {
    padding: 0 layout.$spacer-3;
  }
}

.pageHeaderCss {
  grid-area: header;
  margin: 0 auto;
  max-width: 58ch;
}

.listInfoCss {
  color: var(--color-fg-subtle);
  font-weight: 300;
  justify-self: center;
  margin-top: layout.$spacer-4;
  text-align: center;
}

.showMoreCss {
  grid-area: show_more;
}

.filtersCss {
  grid-area: filters;

  @media (min-width: breakpoints.$desktop) and (min-height: 1200px) {
    position: sticky;
    top: layout.$spacer-7;
  }
}

.percentCss {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: layout.$spacer-4 auto 0;
  padding-bottom: layout.$spacer-4;
  width: 160px;
}

.percentTotalsCss {
  color: var(--color-fg-subtle);
  font-size: 16px;
  margin-top: layout.$spacer-4;
}

.listHeaderGroupCss {
  background-color: var(--color-bg-canvas);
  display: block;
  font-size: 18px;
  line-height: layout.$spacer-4;
  margin: 0 calc(-1 * var(--layout-grid-margin));
  padding: layout.$spacer-2 var(--layout-grid-margin);
  position: sticky;
  top: 0;

  @media (min-width: breakpoints.$desktop) {
    margin: 0 (-1 * layout.$spacer-3);
    padding: layout.$spacer-2 layout.$spacer-3;
  }
}
