@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.containerCss {
  display: grid;
  grid-template-columns: var(--layout-grid-margin) 1fr var(--layout-grid-margin);
  margin: 0 auto;
  padding-bottom: layout.$spacer-7;
  padding-top: layout.$spacer-4;

  @media (min-width: breakpoints.$desktop) {
    column-gap: layout.$spacer-5;
    grid-template-columns: 352px 1fr;
    max-width: unset;
    padding-top: layout.$spacer-5;
  }

  @media (min-width: breakpoints.$max) {
    border-top: 0;
    padding-top: 0;
  }
}

.leftCss {
  align-content: start;
  display: grid;
  grid-column: 2;
  grid-template-areas: "header" "filters";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-bottom: layout.$spacer-6;
  row-gap: layout.$spacer-5;

  @media (min-width: breakpoints.$desktop) {
    grid-column: 1;
  }
}

.rightCss {
  display: grid;
  grid-column: 2;
  grid-template-areas: "list";
}

.pageHeaderCss {
  grid-area: header;
}

.pageHeaderSubCss {
  color: var(--color-fg-accent);
  display: block;
  font-size: 16px;
  line-height: layout.$spacer-4;
  margin-bottom: layout.$spacer-2;
}

.filtersCss {
  grid-area: filters;

  @media (min-width: breakpoints.$desktop) {
    position: sticky;
    top: layout.$spacer-7;
  }
}

.listCss {
  align-content: center;
  align-items: center;
  column-gap: layout.$spacer-5;
  display: grid;
  grid-area: list;
  grid-template-columns: repeat(auto-fill, minmax(144px, max-content));
  justify-content: center;
  justify-items: center;
  row-gap: layout.$spacer-5;
}

.listItemCss {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  row-gap: layout.$spacer-1;
}

.listItemLinkCss {
  display: block;
  position: relative;

  // width: 100%;
}

.listItemTitleCss {
  flex-grow: 1;
  font-size: 18px;
  line-height: layout.$spacer-3;
  text-align: center;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.defaultImageCss {
  color: var(--color-bg-subtle);
  display: block;
}

.progressRingCss {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}

.listItemAvatarCss {
  border-radius: 50%;
  display: block !important;
  max-width: 160px;
  overflow: hidden;
  transform: translateZ(0); // Fix Safari border-radius with hidden overflow.
  width: 100%;
}

.percentBackgroundCss {
  fill: none;
  stroke: var(--color-border-default);
  stroke-width: 1;
}

.percentProgressCss {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke: var(--color-bg-progress);
  stroke-linecap: round;
  stroke-width: 0.8;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progressStatsCss {
  color: var(--color-fg-subtle);
  font-size: 1rem;
  text-align: center;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
