@use "./src/styles/breakpoints";

.containerCss {
  border-top: solid 1px var(--color-background);
  display: grid;
  margin: 0 auto;
  max-width: 40rem;
  padding-top: var(--step-5);

  @media (min-width: breakpoints.$desktop) {
    grid-template-columns: 375px 1fr;
    max-width: unset;
  }

  @media (min-width: 80rem) {
    border-top: 0;
    padding-top: 0;
  }
}

.leftCss {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". type_links ." ". . ." ". filters ." ". . ." ". list_info ." ". . ." ". percent ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows:
    auto var(--step-1) auto var(--step-5) auto var(--step-1) auto var(--step-5)
    auto var(--step-5);

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: ". header ." ". . ." ". type_links ." ". . ." "filters filters ." ". . ." "list_info list_info ." ". . ." "percent percent ." ". . .";
  }
}

.rightCss {
  display: grid;
  grid-template-areas: ". list" ". ." "show_more show_more" ". .";
  grid-template-columns: var(--step-1) 1fr;
  grid-template-rows: auto var(--step-1) auto var(--step-5);
}

.pageHeaderCss {
  grid-area: header;
}

.listInfoCss {
  color: var(--color-text-secondary);
  font-size: clamp(15px, 4vw, 16px);
  font-weight: 300;
  grid-area: list_info;
  justify-self: center;
  text-align: center;
}

.showMoreCss {
  grid-area: show_more;
  justify-self: center;
}

.filtersCss {
  grid-area: filters;
}

.listCss {
  grid-area: list;
}

.listItemCss {
  border-bottom: solid 1px var(--color-background);
  display: grid;
  grid-template-areas: "title . checkmark ." "slug . checkmark .";
  grid-template-columns: 1fr var(--step-1) 3rem 1rem;
}

.listItemTitleCss {
  font-size: 1.125rem;
  grid-area: title;
  padding: 1.5rem var(--step-1) 0.25rem 0;
}

.listItemFirstCss {
  .listItemTitleCss {
    padding-top: 0.5rem;
  }
}

.listItemTitleLinkCss {
  color: darken(#77e895, 33%);
}

.listItemTitleYearCss {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.listItemSlugCss {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  grid-area: slug;
  letter-spacing: 0.5px;
  padding: 0 var(--step-1) 1.5rem 0;
}

.listItemCheckmarkCss {
  align-self: center;
  color: #77e895;
  grid-area: checkmark;
  height: 3rem;
  width: 3rem;
}

.percentCss {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  grid-area: percent;
  margin: 0 auto;
  width: 150px;
}

.percentTotalsCss {
  color: var(--color-text-secondary);
  font-size: 1rem;
  margin-top: 1.5rem;
}

.typeLinksCss {
  align-items: end;
  column-gap: 0.75rem;
  display: grid;
  grid-area: type_links;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.typeLinkCss {
  background-color: darken(#fff, 2);
  border: solid 1px darken(#e9e7e0, 10);
  border-radius: 1rem;
  color: var(--color-link);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  white-space: nowrap;

  @media (min-width: breakpoints.$desktop) {
    border-color: var(--color-background);
  }

  &:hover {
    border-color: var(--color-link);
  }
}

.typeIconCss {
  color: var(--color-text-secondary);
  height: 20px;
  margin-right: 1ch;
  width: 20px;
}

.typeLinkCss:hover > .typeIconCss {
  fill: var(--color-link);
}

.quoteCss {
  color: var(--color-text-tertiary);
  display: block;
  margin-top: 0.75rem;
}
