@use "./src/styles/breakpoints";
@use "./src/styles/layout";
@use "sass:color";

.containerCss {
  display: grid;
  grid-template-columns: var(--layout-grid-margin) 1fr var(--layout-grid-margin);
  margin: 0 auto;
  padding-bottom: layout.$spacer-5;
  padding-top: layout.$spacer-4;

  @media (min-width: breakpoints.$desktop) {
    column-gap: layout.$spacer-5;
    grid-template-columns: 352px 1fr;
    max-width: unset;
    padding-top: layout.$spacer-5;
  }

  @media (min-width: breakpoints.$max) {
    border-top: 0;
    padding-top: 0;
  }
}

.leftCss {
  align-content: start;
  display: grid;
  grid-column: 2;
  grid-template-areas: "header" "type_links" "filters";
  row-gap: layout.$spacer-5;

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "header header ." ". . ." "type_links type_links ." ". . ." "filters filters ." ". . .";
  }
}

.rightCss {
  display: grid;
  grid-column: 2;
  grid-template-areas: "list" "show_more";
  grid-template-columns: 1fr;
  margin-left: calc(-1 * var(--layout-grid-margin));
  margin-right: calc(-1 * var(--layout-grid-margin));
  row-gap: layout.$spacer-4;

  @media (min-width: breakpoints.$desktop) {
    padding-right: 0;
  }
}

.pageHeaderCss {
  grid-area: header;
  margin: 0 auto;
  max-width: 58ch;
}

.listInfoCss {
  color: var(--color-fg-subtle);
  font-weight: 300;
  justify-self: center;
  margin-top: layout.$spacer-4;
  text-align: center;
}

.showMoreCss {
  grid-area: show_more;
  margin: 0 var(--layout-grid-margin);

  @media (max-width: breakpoints.$tablet) {
    padding: 0 var(--step-1);
  }
}

.filtersCss {
  grid-area: filters;

  @media (min-width: breakpoints.$desktop) and (min-height: 1200px) {
    position: sticky;
    top: var(--step-5);
  }
}

.listCss {
  grid-area: list;
}

.listItemCss {
  column-gap: layout.$spacer-4;
  display: grid;
  grid-template-areas: "poster . ." "poster title checkmark" "poster slug checkmark" "poster . . ";
  grid-template-columns: layout.$spacer-7 1fr layout.$spacer-7;
  grid-template-rows: 1fr auto auto 1fr;
  padding: layout.$spacer-3 var(--layout-grid-margin);
  row-gap: layout.$spacer-2;

  &:nth-child(odd) {
    background-color: var(--color-bg-stripe);
  }
}

.listItemPosterCss {
  align-self: start;
  grid-area: poster;
}

.listItemTitleCss {
  font-size: 20px;
  grid-area: title;
  line-height: layout.$spacer-4;
  text-rendering: optimizeLegibility;

  // padding: 0 var(--step-1) 0.25rem 0;
}

.listItemTitleLinkCss {
  color: #379634;
  display: inline-block;
}

.listItemTitleYearCss {
  color: var(--color-fg-subtle);
  font-size: 14px;
  line-height: 1;
}

.listItemSlugCss {
  color: var(--color-fg-subtle);
  font-size: 14px;
  grid-area: slug;
  letter-spacing: 0.5px;
  line-height: layout.$spacer-3;
}

.listItemCheckmarkCss {
  align-self: center;
  color: #379634;
  grid-area: checkmark;
  height: layout.$spacer-7;
  width: layout.$spacer-7;
}

.percentCss {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: layout.$spacer-4 auto 0;
  padding-bottom: layout.$spacer-4;
  width: 160px;
}

.percentTotalsCss {
  color: var(--color-fg-subtle);
  font-size: 16px;
  margin-top: layout.$spacer-4;
}

.typeLinksCss {
  align-items: end;
  column-gap: layout.$spacer-4;
  display: grid;
  grid-area: type_links;
  grid-template-columns: repeat(2, 1fr);
  row-gap: layout.$spacer-4;
}

.typeLinkCss {
  align-items: center;
  background-color: var(--color-bg-subtle);
  border: solid 1px var(--color-border-default);
  border-radius: 16px;
  color: var(--color-fg-accent);
  display: flex;
  justify-content: center;
  line-height: layout.$spacer-4;
  padding: layout.$spacer-2 - 1;
  white-space: nowrap;

  &:hover {
    border-color: var(--color-border-accent);
  }
}

.typeIconCss {
  color: var(--color-fg-subtle);
  height: 20px;
  margin-right: layout.$spacer-2;
  width: 20px;
}

.typeLinkCss:hover > .typeIconCss {
  fill: var(--color-fg-accent);
}

.quoteCss {
  color: var(--color-fg-subtle);
  display: block;
  font-weight: bold;
  margin-bottom: layout.$spacer-3;
}

.listHeaderGroupCss {
  background-color: var(--color-bg-canvas);
  display: block;
  font-size: 18px;
  line-height: layout.$spacer-4;
  padding: layout.$spacer-2 var(--layout-grid-margin);
  position: sticky;
  top: 0;

  @media (min-width: breakpoints.$desktop) {
    grid-column: 1;
    margin: 0 (-1 * layout.$spacer-3);
    padding: layout.$spacer-2 layout.$spacer-3;
  }
}
