@use "./src/styles/breakpoints";

.containerCss {
  column-gap: var(--step-1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
  justify-content: center;
  margin: 0 auto;

  @media (min-width: breakpoints.$desktop) {
    column-gap: var(--step-5);
  }
}

.calloutContainerCss {
  border: 1px solid var(--color-background);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
  margin-bottom: var(--step-5);
  width: 10rem;
}

.numberCss {
  display: block;
  font-size: var(--step-5);
  text-align: center;
}

.legendCss {
  color: var(--color-text-secondary);
  display: block;
  font-size: 1.125rem;
  text-align: center;
}
