@import "./src/styles/breakpoints";

.article {
  display: grid;
  grid-template-areas: "image image image" ". . ." ". body ." ". . .";
  grid-template-columns:
    minmax(var(--step-1), 1fr) minmax(auto, 60ch)
    minmax(var(--step-1), 1fr);
  grid-template-rows: auto 1.5rem auto 5rem;
  margin: 0 auto;
  max-width: 40rem;

  @media (min-width: $breakpoint_desktop) {
    grid-template-columns:
      minmax(var(--step-1), 1fr) minmax(auto, 63ch)
      minmax(var(--step-1), 1fr);
    max-width: none;
  }
}

.image {
  display: block;
  grid-area: image;
}

.body {
  grid-area: body;
}
