@import "./src/styles/breakpoints";

.article {
  display: grid;
  grid-template-areas: "image image image" ". . ." ". title ." ". . ." ". body ." ". . .";
  grid-template-columns:
    minmax(var(--step-1), 1fr) minmax(auto, 60ch)
    minmax(var(--step-1), 1fr);
  grid-template-rows: auto 1.5rem auto 1.5rem auto 3rem;
  margin: 0 auto;
  max-width: 40rem;

  @media (min-width: $breakpoint_desktop) {
    grid-template-columns:
      minmax(var(--step-1), 1fr) minmax(auto, 64ch)
      minmax(var(--step-1), 1fr);
    margin-top: var(--step-1);
    max-width: none;
  }

  @media (min-width: 80rem) {
    margin-top: 0;
  }
}

.image {
  display: block;
  grid-area: image;
}

.title {
  font-size: var(--step-3);
  grid-area: title;
  justify-self: center;
}

.body {
  composes: long_content from "../styles/long_content.scss";
  grid-area: body;
}
