@import "./src/styles/breakpoints";

.container {
  background-color: darken(#fff, 0.5);
  max-width: 1000px;
}

.body {
  composes: long_content from "../styles/long_content.scss";
  padding: 0 var(--step-1) 3rem;

  h1,
  h2,
  h3 {
    line-height: 1.1;
    margin-top: 1.5rem;
  }

  h1 {
    color: #000;
    font-size: var(--step-3);
    margin-bottom: var(--step-5);
    text-align: center;
  }

  h2 {
    color: #000;
    font-size: var(--step-2);
  }

  h3 {
    font-size: var(--step-2);
    font-weight: 300;
  }

  img {
    height: 1rem;
    width: auto;
  }

  @media (min-width: $breakpoint_desktop) {
    padding: 0 0.5rem 3rem;
  }
}
