@import "./src/styles/breakpoints";

.container {
  border-top: solid 1px var(--color-background);
  display: grid;
  padding-top: var(--step-5);

  @media (min-width: 720px) {
    grid-template-columns: 375px 1fr;
  }

  @media (min-width: 80rem) {
    border-top: 0;
    padding-top: 0;
  }
}

.left {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". filters ." ". . ." ". pagination_info ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows: auto var(--step-5) auto var(--step-1) auto 1.5rem;

  @media (min-width: $breakpoint_desktop) {
    grid-template-areas: ". header ." ". . ." "filters filters ." ". . ." "pagination_info pagination_info ." ". . .";
  }
}

.right {
  display: grid;
  grid-template-areas: ". list" ". ." "pagination pagination" ". .";
  grid-template-columns: var(--step-1) 1fr;
  grid-template-rows: auto var(--step-1) auto var(--step-5);
}

.page_header {
  grid-area: header;
}

.pagination_info {
  grid-area: pagination_info;
  justify-self: center;
}

.pagination {
  grid-area: pagination;
  justify-self: center;
}

.filters {
  grid-area: filters;
}

.list {
  grid-area: list;
}

.list_item {
  border-bottom: solid 1px var(--color-background);
  display: block;
  padding-right: var(--step-1);

  @media (min-width: $breakpoint_desktop) {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }
}

.list_item_title {
  color: var(--color-link);
  display: block;
  font-size: 16px;
  padding-top: var(--step--2);

  @media (min-width: $breakpoint_desktop) {
    flex-grow: 1;
    padding: 0.5rem 0;
  }
}

.list_item_title_link {
  color: var(--color-link);
}

.list_item_title_year {
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.list_item_slug {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  padding: 2px var(--step-1) var(--step--2) 0;
  display: flex;
  font-feature-settings: "tnum";
  justify-items: baseline;

  @media (min-width: $breakpoint_desktop) {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
  }
}

.list_item_grade {
  height: 15px;
  margin-right: var(--step--2);
  width: auto;

  @media (min-width: $breakpoint_desktop) {
    height: 16px;
  }
}
