@import "./src/styles/breakpoints";

.container {
  border-top: solid 1px var(--color-background);
  display: grid;
  padding-top: var(--step-5);

  @media (min-width: 720px) {
    grid-template-columns: 375px 1fr;
  }

  @media (min-width: 80rem) {
    border-top: 0;
    padding-top: 0;
  }
}

.left {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". filters ." ". . ." ". pagination_info ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows: auto var(--step-5) auto var(--step-1) auto var(--step-5);

  @media (min-width: $breakpoint_desktop) {
    grid-template-areas: ". header ." ". . ." "filters filters ." ". . ." "pagination_info pagination_info ." ". . .";
  }
}

.right {
  display: grid;
  grid-template-areas: ". list" ". ." "pagination pagination" ". .";
  grid-template-columns: var(--step-1) 1fr;
  grid-template-rows: auto var(--step-1) auto var(--step-5);
}

.page_header {
  grid-area: header;
}

.pagination_info {
  color: var(--color-text-secondary);
  grid-area: pagination_info;
  justify-self: center;
}

.pagination {
  color: var(--color-text-secondary);
  grid-area: pagination;
  justify-self: center;
}

.page_heading {
  composes: heading from "../styles/page.scss";
}

.page_tagline {
  composes: tagline from "../styles/page.scss";
}

.filters {
  grid-area: filters;
}

.toggle_review_button {
  composes: toggle_button from "../styles/filters.scss";
}

.list {
  background-color: var(--color-content-background);
  grid-area: list;

  @media (min-width: $breakpoint_desktop) {
    border-top: 0;
  }
}

.list_item {
  border-bottom: solid 1px var(--color-background);
  display: block;
}

.list_item_first {
  & .list_item_title {
    padding-top: 0.5rem;
  }
}

.list_item_title {
  font-size: 18px;
  padding: 1.5rem var(--step-1) 0.25rem 0;
}

.list_item_title_link {
  composes: list_item_title_link from "../styles/list.scss";
}

.list_item_title_year {
  composes: list_item_title_year from "../styles/list.scss";
}

.list_item_slug {
  composes: list_item_slug from "../styles/list.scss";
}
