@import "./src/styles/breakpoints";

.container {
  border-top: solid 1px var(--color-background);
  display: grid;
  margin: 0 auto;
  max-width: 40rem;
  padding-top: var(--step-5);

  @media (min-width: $breakpointDesktop) {
    grid-template-columns: 375px 1fr;
    max-width: unset;
  }

  @media (min-width: 80rem) {
    border-top: 0;
    padding-top: 0;
  }
}

.left {
  align-content: start;
  display: grid;
  grid-template-areas: ". header ." ". . ." ". type_links ." ". . ." ". filters ." ". . ." ". pagination_info ." ". . ." ". percent ." ". . .";
  grid-template-columns: minmax(var(--step-1), 1fr) minmax(auto, 100%) minmax(
      var(--step-1),
      1fr
    );
  grid-template-rows:
    auto var(--step-1) auto var(--step-5) auto var(--step-1) auto var(--step-5)
    auto var(--step-5);

  @media (min-width: $breakpointDesktop) {
    grid-template-areas: ". header ." ". . ." ". type_links ." ". . ." "filters filters ." ". . ." "pagination_info pagination_info ." ". . ." "percent percent ." ". . .";
  }
}

.right {
  display: grid;
  grid-template-areas: ". list" ". ." "pagination pagination" ". .";
  grid-template-columns: var(--step-1) 1fr;
  grid-template-rows: auto var(--step-1) auto var(--step-5);
}

.page_header {
  grid-area: header;
}

.pagination_info {
  grid-area: pagination_info;
  justify-self: center;
}

.pagination {
  grid-area: pagination;
  justify-self: center;
}

.filters {
  grid-area: filters;
}

.list {
  grid-area: list;
}

.list_item {
  border-bottom: solid 1px var(--color-background);
  display: grid;
  grid-template-areas: "title . checkmark ." "slug . checkmark .";
  grid-template-columns: 1fr var(--step-1) 3rem 1rem;
}

.list_item_title {
  font-size: 1.125rem;
  grid-area: title;
  padding: 1.5rem var(--step-1) 0.25rem 0;
}

.list_item_first {
  .list_item_title {
    padding-top: 0.5rem;
  }
}

.list_item_title_link {
  color: #14bd41;
}

.list_item_title_year {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.list_item_slug {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  grid-area: slug;
  letter-spacing: 0.5px;
  padding: 0 var(--step-1) 1.5rem 0;
}

.list_item_checkmark {
  align-self: center;
  color: #9beab0;
  grid-area: checkmark;
  height: 3rem;
  width: 3rem;
}

.percent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  grid-area: percent;
  margin: 0 auto;
  width: 150px;
}

.percent_totals {
  color: var(--color-text-secondary);
  font-size: 1rem;
  margin-top: 1.5rem;
}

.type_links {
  align-items: end;
  column-gap: 0.75rem;
  display: grid;
  grid-area: type_links;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.type_link {
  background-color: darken(#fff, 2);
  border: solid 1px darken(#e9e7e0, 10);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  white-space: nowrap;

  @media (min-width: $breakpointDesktop) {
    border-color: var(--color-background);
  }

  &:hover {
    border-color: var(--color-link);
  }
}

.type_icon {
  color: var(--color-text-secondary);
  height: 20px;
  margin-right: 1ch;
  width: 20px;
}

.type_link:hover > .type_icon {
  fill: var(--color-link);
}

.quote {
  color: var(--color-text-tertiary);
  display: block;
  margin-top: 0.75rem;
}
