@import "./src/styles/breakpoints";

.container {
  @media (min-width: $breakpoint_desktop) {
    background-color: var(--color-content-background);
    column-gap: var(--step-1);
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto;
  }
}

.left {
  composes: card from "../styles/card.scss";

  @media (min-width: $breakpoint_desktop) {
    grid-area: left;
    max-width: 330px;
  }
}

.right {
  @media (min-width: $breakpoint_desktop) {
    grid-area: right;
  }
}

.page_header {
  composes: header from "../styles/page.scss";
}

.page_heading {
  composes: heading from "../styles/page.scss";
}

.page_tagline {
  composes: tagline from "../styles/page.scss";
}

.filters {
  composes: card from "../styles/filters.scss";

  @media (min-width: $breakpoint_desktop) {
    padding: 0;
  }
}

.filters_fieldset {
  composes: fieldset from "../styles/filters.scss";
}

.filter_text_input {
  composes: text_input from "../styles/filters.scss";
}

.filter_select_input {
  composes: select_input from "../styles/filters.scss";
}

.label {
  composes: label from "../styles/filters.scss";
}

.toggle_review_button {
  composes: toggle_button from "../styles/filters.scss";
}

.list {
  composes: list from "../styles/list.scss";
}

.list_item {
  composes: list_item from "../styles/list.scss";
}

.list_item_first {
  composes: list_item_first from "../styles/list.scss";
}

.list_item_title {
  composes: list_item_title from "../styles/list.scss";
}

.list_item_title_link {
  composes: list_item_title_link from "../styles/list.scss";
}

.list_item_title_year {
  composes: list_item_title_year from "../styles/list.scss";
}

.list_item_slug {
  composes: list_item_slug from "../styles/list.scss";
}
