@import "./src/styles/breakpoints";

.containerCss {
  color: var(--color-text-secondary);
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  letter-spacing: 0.25px;
  margin-right: -0.75rem;
  padding: 0;
}

.listCss {
  display: contents;
}

.linkCss {
  align-items: center;
  background-color: darken(#fff, 2);
  border: solid 1px darken(#e9e7e0, 10);
  border-radius: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
  margin-right: 0.75rem;
  padding: 0.5rem;
  white-space: nowrap;

  @media (min-width: $breakpointDesktop) {
    border-color: var(--color-background);
  }

  &:hover {
    border-color: var(--color-link);
  }
}

.avatarCss {
  border-radius: 50%;
  height: 40px;
  margin-right: 1ch;
  width: 40px;
}
