@import "./src/styles/breakpoints";

.icon {
  flex-shrink: 0;
  margin-right: 1ch;
  min-width: 18px;
}

.container {
  color: var(--color-text-secondary);
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  letter-spacing: 0.25px;
  margin-right: -0.75rem;
  padding: 0;
}

.list {
  display: contents;
}

.link {
  background-color: darken(#fff, 2);
  border: solid 1px darken(#e9e7e0, 10);
  border-radius: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
  margin-right: 0.75rem;
  padding: 0.5rem;
  white-space: nowrap;

  @media (min-width: $breakpoint_desktop) {
    border-color: var(--color-background);
  }

  &:hover {
    border-color: var(--color-link);
  }
}

.link:hover > .icon {
  fill: var(--color-link);
}
