@use "./src/styles/breakpoints";
@use "sass:color";

.containerCss {
  color: var(--color-text-secondary);
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  letter-spacing: 0.25px;
  margin-right: -0.75rem;
  padding: 0;
}

.listCss {
  display: contents;
}

.linkCss {
  align-items: center;
  background-color: #f9fafa;
  border: solid 1px color.adjust(#e9e7e0, $lightness: -10%);
  border-radius: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
  margin-right: 0.75rem;
  padding: 0.5rem;
  white-space: nowrap;

  @media (min-width: breakpoints.$desktop) {
    border-color: var(--color-background);
  }

  &:hover {
    border-color: var(--color-link);
  }
}

.avatarCss {
  border-radius: 50%;
  display: block !important;
  height: 40px;
  margin-right: 1ch;
  transform: translateZ(0); // Fix Safari border-radius with hidden overflow.
  width: 40px;
}
