@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.containerCss {
  align-content: start;
  display: grid;
  font-size: 16px;
  grid-column: 2;
  grid-template-areas: "poster . credits" ". . ." "watchlist watchlist watchlist";
  grid-template-columns: 1fr layout.$spacer-4 1fr;
  grid-template-rows: auto layout.$spacer-4 auto;
  letter-spacing: 0.2px;
  margin-left: calc(-1 * var(--layout-grid-margin));
  margin-right: calc(-1 * var(--layout-grid-margin));
  padding: layout.$spacer-7 var(--layout-grid-margin) layout.$spacer-7;
  position: relative;

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "poster" "credits" "watchlist";
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    margin-left: unset;
    margin-right: unset;
    padding: 0;
  }
}

.listCss {
  color: var(--color-fg-subtle);
  grid-area: credits;
  line-height: 20px;
}

.titleCss {
  font-size: 22px;
  line-height: layout.$spacer-4;
}

.posterCss {
  align-self: flex-start;
  border-radius: 8px;
  grid-area: poster;
  justify-self: flex-end;
  margin-bottom: 7.55px;
  overflow: hidden;

  @media (min-width: breakpoints.$desktop) {
    border-radius: unset;
  }
}

.termCss {
  font-weight: 700;
  line-height: layout.$spacer-4;
  margin-top: layout.$spacer-4;
}

.watchlistCss {
  align-self: start;
  grid-area: watchlist;

  a {
    color: var(--color-fg-accent);
  }

  > div {
    margin-top: var(--step-1);
  }

  @media (min-width: breakpoints.$desktop) {
    margin-top: layout.$spacer-5;
  }
}

.backToTopContainerCss {
  align-items: center;
  backface-visibility: hidden;
  background-color: rgb(0 0 0 / 15%);
  border-radius: 100px 0 0;
  bottom: 0;
  color: rgb(255 255 255);
  cursor: pointer;
  display: flex;
  height: var(--step-5);
  justify-content: center;
  margin-bottom: 0;
  margin-right: 0;
  padding: 18.6667px 4.6667px 4.6667px 18.6667px;
  position: relative;
  position: absolute;
  right: 0;

  &::before {
    background-color: rgb(255 255 255);
    border-radius: inherit;
    content: " ";
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }

  &::after {
    border-radius: inherit;
    content: " ";
    inset: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }
}

.backToTopInnerCss {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backToTopArrowCss {
  align-items: center;
  display: flex;
  fill: var(--color-fg-default);
  height: 31.5px;
  justify-content: center;
  transition: all 0.3s ease 0s;
  width: 31.5px;
  z-index: 2;
}

.hideDesktopCss {
  @media (min-width: breakpoints.$desktop) {
    display: none;
  }
}
