@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.listCss {
  column-gap: layout.$spacer-4;
  display: flex;
  flex-direction: column;
  grid-area: list;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));

  // row-gap: layout.$spacer-4;

  @media (max-width: #{breakpoints.$desktop - 1px}) {
    grid-template-columns: repeat(2, minmax(125px, 1fr));
  }
}

.listItemCss {
  align-items: flex-start;
  column-gap: layout.$spacer-4;
  display: grid;
  grid-template-areas: "title image" "grade image" ". image";
  grid-template-columns: 1fr 1fr;
  margin: 0 calc(-1 * var(--layout-grid-margin));
  padding: layout.$spacer-5 var(--layout-grid-margin);

  &:nth-child(even) {
    background-color: var(--color-bg-subtle);
  }
}

.listItemImageLinkCss {
  border-radius: 8px;
  display: block;
  grid-area: image;
  margin-bottom: 4.54px;
  overflow: hidden;

  @media (min-width: breakpoints.$tablet) {
    margin-bottom: 4.125px;
  }
}

.listItemTitleCss {
  // color: var(--color-fg-accent);
  font-size: 22px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
}

.listItemTitleYearCss {
  color: var(--color-fg-subtle);
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

.listItemGradeCss {
  height: 18px;
  margin-top: layout.$spacer-2;
  width: auto;
}

.containerCss {
  display: grid;
  grid-template-areas: ". header .";
  grid-template-columns:
    minmax(var(--layout-grid-margin), 1fr) minmax(auto, 680px)
    minmax(var(--layout-grid-margin), 1fr);

  &:last-of-type {
    background-color: unset;
    border: none;
  }

  @media (min-width: breakpoints.$tablet) {
    background-color: var(--color-bg-subtle);
    border: solid 1px var(--color-border-subtle);
    margin: 0 calc(-1 * var(--step-1));
  }

  @media (min-width: breakpoints.$desktop) {
    background-color: unset;
    border: none;
    margin: 0;
    padding: 0;
  }
}
