@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.listCss {
  column-gap: layout.$spacer-4;
  display: flex;
  flex-direction: column;
  grid-area: list;

  @media (min-width: breakpoints.$desktop) {
    column-gap: layout.$spacer-4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.listItemCss {
  align-items: flex-start;
  column-gap: layout.$spacer-4;
  display: grid;
  grid-template-areas: "title image" "grade image" ". image";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  margin: 0 calc(-1 * var(--layout-grid-margin));
  padding: layout.$spacer-5 var(--layout-grid-margin);

  &:nth-child(even) {
    background-color: var(--color-bg-subtle);
  }

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "image" "title" "grade";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    margin: 0;
    padding: 0;

    &:nth-child(even) {
      background-color: unset;
    }
  }
}

.listItemImageLinkCss {
  border-radius: 8px;
  display: block;
  grid-area: image;
  margin-bottom: 4.455px;
  overflow: hidden;

  @media (min-width: breakpoints.$tablet) {
    margin-bottom: 0;
  }

  @media (min-width: breakpoints.$desktop) {
    margin-bottom: 5.055px;
  }
}

.listItemTitleCss {
  font-size: 20px;
  line-height: layout.$spacer-4;
  text-rendering: optimizelegibility;
}

.listItemTitleYearCss {
  color: var(--color-fg-subtle);
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

.listItemGradeCss {
  height: 18px;
  margin-top: layout.$spacer-1;
  width: auto;

  @media (min-width: breakpoints.$desktop) {
    margin: 3px 0;
  }
}
