@use "./src/styles/breakpoints";

.containerCss {
  border-top: solid 1px var(--color-background);
  display: grid;
  grid-template-areas: ". title ." "image image image" ". . ." ". reviews ." ". . ." ". credits ." ". . ." ". viewings ." ". . ." ". related .";
  grid-template-columns:
    minmax(var(--step-1), 1fr) minmax(auto, 63ch)
    minmax(var(--step-1), 1fr);
  grid-template-rows: auto auto var(--step-1) auto 3rem auto 3rem auto 3rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 40rem;
  padding-bottom: var(--step-5);
  position: relative;

  @media (min-width: breakpoints.$tablet) {
    grid-template-areas: "image" "." "title" "." "credits" "." "reviews" "." "viewings" "." "related";
    grid-template-columns: unset;
    grid-template-rows: auto 3rem auto var(--step-1) auto 3rem auto 3rem auto 3rem;
  }

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "image image image" "title title title" "reviews . credits" "viewings . credits" "related related related";
    grid-template-columns: minmax(auto, 63ch) 1fr 25%;
    grid-template-rows: none;
    max-width: unset;
    row-gap: 3rem;
  }
}

.reviewsListCss {
  display: grid;
  grid-area: reviews;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}

.reviewsListItemCss:not(:first-child) {
  padding-top: 3rem;
  position: relative;
}

.reviewsListItemCss:not(:first-child)::after {
  background-color: #fff;
  content: url("/assets/film-icon.svg");
  display: block;
  height: 1rem;
  left: calc(50% - 1.5rem);
  padding: 0 1rem;
  position: absolute;
  top: 0;
  width: 3rem;
  z-index: 100;
}

.reviewsListItemCss:not(:first-child)::before {
  border-top: solid 1px var(--color-background);
  content: " ";
  height: 1px;
  left: 25%;
  position: absolute;
  top: calc(0.5rem - 1px);
  width: 50%;
}

.reviewCss {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1.5rem;
  row-gap: 1rem;

  @media (min-width: breakpoints.$desktop) {
    grid-template-columns: calc(1.25 * var(--step-1)) 1fr;

    > * {
      grid-column: 2;
    }
  }
}

.dateIconCss {
  @media (min-width: breakpoints.$desktop) {
    left: calc(-1.25 * var(--step-1));
    position: absolute;
    top: 2px;
  }
}

.slugCss {
  align-items: center;
  color: var(--color-text-secondary);
  column-gap: 1ch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-feature-settings: "tnum";
  font-size: 16px;
  justify-content: start;
  letter-spacing: 0.5px;
  line-height: 1.5;
  position: relative;
  text-align: center;
}

.slugDateCss {
  display: flex;
  font-weight: 700;
}

.imageCss {
  grid-area: image;
  width: 100%;
}

.titleCss {
  color: #000;
  font-size: var(--step-3);
  line-height: 1.1;
}

.headerCss {
  grid-area: title;
  padding: var(--step-1) 0;
  text-align: center;
}

.akaContainerCss {
  color: var(--color-text-secondary);
  font-style: italic;
  margin-top: 0.875rem;
}

.akaListCss {
  margin-top: 0.5rem;
}

.akaListItemCss {
  display: block;
  font-size: 1.125rem;
}

.contentCss {
  position: relative;
}

.gradeCss {
  display: block;
  height: 32px;
  width: auto;
}

.creditsCss {
  align-content: start;
  color: var(--color-text-secondary);
  column-gap: var(--step-1);
  display: grid;
  font-size: 1rem;
  grid-area: credits;
  grid-template-areas: "directors poster" "cast poster" "watchlist watchlist";
  grid-template-columns: 1fr 38.2%;
  grid-template-rows: auto 1fr auto;
  letter-spacing: 0.2px;

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "poster" "directors" "cast" "watchlist";
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
}

.posterCss {
  grid-area: poster;
  justify-self: end;
  max-width: 175px;

  @media (min-width: breakpoints.$desktop) {
    max-width: unset;
  }
}

.directorsCss {
  grid-area: directors;

  @media (min-width: breakpoints.$desktop) {
    padding: 1.5rem 0.5rem 0;
  }
}

.castCss {
  grid-area: cast;
  margin-top: 1rem;

  @media (min-width: breakpoints.$desktop) {
    padding: 0 0.5rem;
  }
}

.castLabelCss {
  display: block;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 1rem;

  &::after {
    content: ":";
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.dateCss {
  font-weight: 700;
}

.bodyCss {
  grid-area: content;
  margin-top: var(--step-1);

  // > p:first-of-type::before {
  //   content: "\0020";
  //   display: inline-block;
  //   height: auto;
  //   position: relative;
  //   width: 115px;
  // }
}

.watchlistCss {
  align-self: start;
  grid-area: watchlist;
  margin-top: 1.5rem;

  a {
    color: var(--color-link);
  }

  @media (min-width: breakpoints.$desktop) {
    padding: 0 0.5rem;
  }
}

.relatedCss {
  display: grid;
  grid-area: related;
  row-gap: 3rem;
}

.relatedHeaderCss {
  border-bottom: 1px solid var(--color-background);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  text-rendering: optimizeLegibility;
}

.relatedHeadingCss {
  color: var(--color-text-secondary);
}

.relatedMoreCss {
  color: var(--color-link);
}

.relatedNameCss {
  color: rgb(0 0 0 / 75%);
  font-weight: 600;
  letter-spacing: 0.2px;
}

.olderViewingsHeadingCss {
  border-bottom: solid 1px var(--color-background);
  color: rgb(0 0 0 / 75%);
  font-size: 1.25rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.olderViewingsListCss {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.olderViewingsCss {
  grid-area: viewings;
}

.olderViewingsListItemCss {
  align-items: center;
  color: var(--color-text-secondary);
  display: grid;
  font-feature-settings: "tnum";
  grid-template-areas: "icon slug";
  justify-content: start;
}

.viewingDateIconCss {
  grid-area: icon;
  margin-right: calc(1.25 * var(--step-1) - 16px);
  position: relative;
  width: 16px;
}

.separatorCss {
  color: var(--color-text-secondary);
}

.headerMetaCss {
  color: var(--color-text-secondary);
  font-feature-settings: "tnum";
  margin-top: 0.75rem;
}

.olderViewingSlugCss {
  grid-area: slug;
}
