@use "./src/styles/breakpoints";

.containerCss {
  border-top: solid 1px var(--color-background);
  display: grid;
  grid-template-areas: ". title ." "image image image" ". reviews ." ". viewings ." "credits credits credits" ". related .";
  grid-template-columns: var(--step-1) 1fr var(--step-1);
  grid-template-rows: auto;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 40rem;
  padding-bottom: var(--step-5);

  @media (min-width: breakpoints.$tablet) {
    grid-template-areas: "title" "image" "reviews" "viewings" "credits" "related";
    grid-template-columns: unset;
  }

  @media (min-width: breakpoints.$desktop) {
    grid-template-areas: "image image image" "title title title" "reviews . credits" "viewings . credits" "related related related";
    grid-template-columns: minmax(auto, 63ch) 1fr 25%;
    grid-template-rows: none;
    max-width: unset;
    row-gap: 3rem;
  }
}

.reviewGradeCss {
  display: block;
  height: 32px;
  margin: 0 auto;
  width: auto;

  @media (min-width: breakpoints.$desktop) {
    height: 24px;
    margin: 0 1ch 0 0;
  }
}

.reviewsListItemCss {
  position: relative;

  @media (min-width: breakpoints.$desktop) {
    padding-left: calc(1.25 * var(--step-1));
  }
}

.reviewsListCss {
  grid-area: reviews;
  padding-top: var(--step-3);

  @media (min-width: breakpoints.$desktop) {
    border-top: 1px solid var(--color-background);
  }
}

.reviewsListItemCss:not(:first-child) .reviewGradeCss {
  height: 24px;

  @media (min-width: breakpoints.$desktop) {
    height: 18px;
    margin: 0 1ch 0 0;
  }
}

.reviewsListItemCss:not(:first-child) {
  padding-top: calc(2 * var(--step-5));
  position: relative;
}

.reviewsListItemCss:not(:first-child)::after {
  background-color: #fff;
  content: url("/assets/film-icon.svg");
  display: block;
  height: 1rem;
  left: calc(50% - 1.5rem);
  padding: 0 1rem;
  position: absolute;
  top: calc(var(--step-5) - 0.5rem);
  width: 3rem;
  z-index: 100;
}

.reviewsListItemCss:not(:first-child)::before {
  border-top: solid 1px var(--color-background);
  content: " ";
  height: 1px;
  left: 25%;
  position: absolute;
  top: calc(var(--step-5) - 1px);
  width: 50%;
}

.reviewDateIconCss {
  display: none;

  @media (min-width: breakpoints.$desktop) {
    display: block;
    height: auto;
    margin-right: calc(1.25 * var(--step-1) - 16px);
    width: 16px;
  }
}

.slugContainerCss {
  font-feature-settings: "tnum";
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: center;

  @media (min-width: breakpoints.$desktop) {
    align-items: center;
    display: flex;
    margin-left: calc(-1.25 * var(--step-1));
    text-align: left;
  }
}

.slugOnCss {
  color: var(--color-text-secondary);
  display: block;
  margin: 0 auto;

  @media (min-width: breakpoints.$desktop) {
    display: inline;
  }
}

.slugViaCss {
  color: var(--color-text-secondary);
  display: block;
  margin: 0 auto;

  @media (min-width: breakpoints.$desktop) {
    display: inline;
  }
}

.slugFootnoteCss {
  color: var(--color-text);
  color: rgb(0 0 0 / 75%);
  letter-spacing: 0.3px;
  text-align: left;
}

.slugDateCss {
  color: var(--color-text-secondary);
  display: block;
  font-weight: 700;
  margin: 0 auto;

  @media (min-width: breakpoints.$desktop) {
    display: inline;
  }
}

.heroImageCss {
  grid-area: image;
  width: 100%;
}

.headerTitleCss {
  color: #000;
  font-size: var(--step-3);
  line-height: 1.1;
}

.headerContainerCss {
  grid-area: title;
  padding: var(--step-1) 0;
  text-align: center;

  @media (min-width: breakpoints.$desktop) {
    padding: 0;
    text-align: left;
  }
}

.headerOriginalTitleCss {
  color: var(--color-text-secondary);
}

.reviewContentCss {
  margin-top: var(--step-3);

  @media (min-width: breakpoints.$desktop) {
    margin-top: 1rem;
    position: relative;
  }
}

.creditsContainerCss {
  align-content: start;
  background-color: var(--color-background);
  border-top: solid 1px rgb(0 0 0 / 15%);
  display: grid;
  font-size: 1rem;
  grid-area: credits;
  grid-template-areas: ". poster . credits ." ". watchlist watchlist watchlist .";
  grid-template-columns: var(--step-1) 1fr var(--step-1) 1fr var(--step-1);
  grid-template-rows: auto;
  letter-spacing: 0.2px;
  margin-top: var(--step-5);
  padding: var(--step-5) 0 var(--step-5);
  position: relative;

  @media (min-width: breakpoints.$tablet) {
    margin: 4rem calc(-1 * var(--step-1)) 0;
    overflow: hidden;
  }

  @media (min-width: breakpoints.$desktop) {
    background-color: unset;
    grid-template-areas: "poster" "credits" "watchlist";
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    margin: unset;
  }
}

.creditsListCss {
  color: var(--color-text-secondary);
  grid-area: credits;
}

.creditsTitleCss {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.creditsPosterCss {
  align-self: flex-start;
  grid-area: poster;
  justify-self: flex-end;
  max-width: 309px;
}

.creditTermCss {
  font-weight: 700;
  line-height: 1.5;
  margin-top: var(--step-1);
}

.olderViewingsDateCss {
  font-weight: 700;
}

.creditsWatchlistCss {
  align-self: start;
  grid-area: watchlist;

  // margin-top: 1.5rem;

  a {
    color: var(--color-link);
  }

  > div {
    margin-top: var(--step-1);
  }

  @media (min-width: breakpoints.$desktop) {
    padding: 0 0.5rem;
  }
}

.relatedCss {
  display: grid;
  grid-area: related;
  margin-top: var(--step-5);
  row-gap: var(--step-5);

  @media (min-width: breakpoints.$tablet) {
    margin-top: 4rem;
    row-gap: 4rem;
  }
}

.relatedHeaderCss {
  align-items: center;
  border-bottom: 1px solid var(--color-background);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  text-rendering: optimizeLegibility;
}

.relatedHeadingCss {
  align-items: center;
  color: var(--color-text-secondary);
  display: flex;
}

.relatedMoreCss {
  color: var(--color-link);
}

.relatedNameCss {
  color: rgb(0 0 0 / 75%);
  font-weight: 600;
  letter-spacing: 0.2px;
}

.relatedAvaterCss {
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-background);
  display: none;
  margin-right: 1ch;
  transform: translateZ(0); // Fix Safari border-radius with hidden overflow.

  @media (min-width: breakpoints.$tablet) {
    display: block !important;
  }
}

.olderViewingsHeadingCss {
  border-bottom: 1px solid var(--color-background);
  color: rgb(0 0 0 / 75%);
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  letter-spacing: 0.2px;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  text-rendering: optimizeLegibility;
}

.olderViewingsListCss {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.olderViewingsContainerCss {
  grid-area: viewings;
  margin-top: var(--step-5);
}

.olderViewingsListItemCss {
  align-items: center;
  color: var(--color-text-secondary);
  display: grid;
  font-feature-settings: "tnum";
  grid-template-areas: "icon slug";
  justify-content: start;
}

.olderViewingsDateIconCss {
  grid-area: icon;
  margin-right: calc(1.25 * var(--step-1) - 16px);
  position: relative;
  width: 16px;
}

.headerSeparatorCss {
  color: var(--color-text-secondary);
}

.headerMetaCss {
  color: var(--color-text-secondary);
  font-feature-settings: "tnum";
  margin-top: 0.75rem;
}

.olderViewingSlugCss {
  grid-area: slug;
}

.backToTopContainerCss {
  align-items: center;
  backface-visibility: hidden;
  background-color: rgb(0 0 0 / 15%);
  border-radius: 100px 0 0;
  bottom: 0;
  color: rgb(255 255 255);
  cursor: pointer;
  display: flex;
  height: var(--step-5);
  justify-content: center;
  margin-bottom: 0;
  margin-right: 0;
  padding: 18.6667px 4.6667px 4.6667px 18.6667px;
  position: relative;
  position: absolute;
  right: 0;

  &::before {
    background-color: rgb(255 255 255);
    border-radius: inherit;
    content: " ";
    inset: 0;
    opacity: 0%;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }

  &::after {
    border-radius: inherit;
    content: " ";
    inset: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }
}

.backToTopInnerCss {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backToTopArrowCss {
  align-items: center;
  display: flex;
  fill: rgb(255 255 255);
  height: 31.5px;
  justify-content: center;
  transition: all 0.3s ease 0s;
  width: 31.5px;
  z-index: 2;
}

.hideDesktopCss {
  @media (min-width: breakpoints.$desktop) {
    display: none;
  }
}
