@use "./src/styles/breakpoints";
@use "./src/styles/layout";

.articleCss {
  display: grid;
  grid-template-areas: ". title ." "image image image" ". body .";
  grid-template-columns:
    minmax(var(--layout-grid-margin), 1fr) minmax(auto, 520px)
    minmax(var(--layout-grid-margin), 1fr);
  grid-template-rows: auto;
  justify-content: space-between;
  margin: 0 auto;

  @media (min-width: breakpoints.$desktop) {
    grid-template-columns: unset;
  }
}

.titleCss {
  font-size: 32px;
  grid-area: title;
  line-height: layout.$spacer-5;
  padding: layout.$spacer-4 0;
  text-align: center;

  @media (min-width: breakpoints.$desktop) {
    padding: layout.$spacer-6 0;
  }
}

.imageCss {
  display: block;
  grid-area: image;
  margin-bottom: 7.845px;
}

.bodyCss {
  grid-area: body;
  margin: 0 auto;
  max-width: 58ch;
  padding: layout.$spacer-4 0 layout.$spacer-8;
}
