@use "./src/styles/layout";

.containerCss {
  border: 0;
  padding: 0;
}

.wrapperCss {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.toCss {
  padding: 0 layout.$spacer-2;
  text-align: center;
}

.fromCss {
  padding-right: 1ch;
}

.fromCss,
.toCss {
  font-size: 14px;
  letter-spacing: 0.5px;
  min-width: layout.$spacer-6;
  white-space: nowrap;
}

.legendCss {
  color: var(--color-fg-subtle);
  display: block;
  font-size: 14px;
  font-weight: bold;
  grid-area: legend;
  letter-spacing: 0.5px;
  line-height: layout.$spacer-4;
  padding: 0;
  text-align: left;
}

.inputLabelCss {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.checkboxLabelCss {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  line-height: layout.$spacer-4;
  min-width: 100%;

  input {
    margin-right: layout.$spacer-2;
  }
}
