.containerCss {
  border: 0;
  padding: 0;
}

.wrapperCss {
  align-items: center;
  column-gap: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0 0;
  padding: 0;
  position: relative;
}

.fromInputCss,
.toInputCss {
  appearance: none;
  background-color: var(--color-bg-subtle);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23054a93' height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false'><path d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z'></path></svg>");
  background-position-x: calc(100% - 0.5rem);
  background-position-y: 5px;
  background-repeat: no-repeat;
  border: 1px solid var(--color-border-default);
  border-radius: 4px;
  box-shadow: none;
  color: var(--color-fg-subtle);
  font-size: 1rem;
  padding: calc(0.5em - 1px) 30px calc(0.5em - 1px) calc(0.75em - 1px);
  width: 100%;
}

.fromCss,
.toCss {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.legendCss {
  color: var(--color-fg-subtle);
  display: block;
  font-size: 14px;
  font-weight: bold;
  grid-area: legend;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  padding: 0;
  text-align: left;
}

.inputLabelCss {
  align-items: center;
  column-gap: 0.7rem;
  display: flex;
  flex: 1;
}

.checkboxLabelCss {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0.5rem;
  min-width: 100%;

  input {
    margin-right: 0.25rem;
  }
}
