@use "./src/styles/layout";
@use "./src/styles/breakpoints";

.listCss {
  column-gap: layout.$spacer-4;
  display: grid;
  grid-area: list;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  margin: layout.$spacer-3 0;
  row-gap: layout.$spacer-5;
}

.listItemCss {
  display: flex;
  flex-direction: column;
  row-gap: layout.$spacer-1;
}

.listItemImageWrapCss {
  border-radius: 8px;
  display: block;
  margin-bottom: 2px;
  max-width: 248px;
  overflow: hidden;

  @media (min-width: breakpoints.$tablet) {
    margin-bottom: 7px;
  }

  @media (min-width: breakpoints.$desktop) {
    margin-bottom: 0;
  }
}

.listItemTitleCss {
  font-size: 16px;
  line-height: 20px;
  text-rendering: optimizeLegibility;

  a {
    color: var(--color-fg-accent);
  }
}

.listItemTitleYearCss {
  color: var(--color-fg-subtle);
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

.listItemGradeCss {
  height: 16px;
  width: 80px;
}

.listItemSlugCss {
  color: var(--color-fg-subtle);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 300;
  line-height: layout.$spacer-3;
  row-gap: layout.$spacer-1;
}
