.containerCss {
  border: 0;
  display: flex;
  flex-flow: row wrap;
  font-family: var(--font-sans);
  justify-content: space-between;
  margin: 1.5rem 0 0;
  padding: 0;
}

.thumbCss {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 50%;
  cursor: grab;
  height: 2rem;
  left: -1rem;
  position: relative;
  top: 0;
  transition: transform 0.3s ease-in-out;
  width: 2rem;
  z-index: 1;

  &:active {
    transform: scale(1.25);
  }
}

.draggingCss,
.thumbCss:active {
  transform: scale(1.25);
}

.toCss {
  font-family: var(--font-sans);
}

.sliderCss {
  flex: 1 100%;
  height: var(--step-2);
  margin-bottom: 0.5rem;
  width: 100%;
}

.trackCss {
  background: rgba(0, 0, 0, 0.06);
  border-bottom: solid 0.5rem #fff;
  border-top: solid 0.5rem #fff;
  height: 2rem;
  margin: auto 0.8rem;
  position: relative;
}

.yearInputCss {
  border: 1px solid var(--color-background);
  color: var(--color-text-secondary);
  font-size: 1rem;
  padding: 1px 2px;
  width: 5ch;
}

.fromCss,
.toCss {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.labelCss {
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: left;
}

.inputLabelCss {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
