@use "./src/styles/breakpoints";

.headingCss {
  font-size: var(--step-1);
  line-height: 2.5;
  text-align: center;

  @media (min-width: breakpoints.$max) {
    text-align: left;
  }
}

.tableCss {
  border: 1px solid var(--color-background);
  border-collapse: collapse;
  border-left: 0;
  border-right: 0;
  line-height: 1.75;
  margin: 0 auto var(--step-5);
  width: 100%;

  th:first-of-type,
  td:first-of-type {
    padding-left: var(--step-1);
  }

  th:last-of-type,
  td:last-of-type {
    padding-right: var(--step-1);
  }

  a {
    color: var(--color-link);
  }

  @media (min-width: breakpoints.$tablet) {
    border-left: 1px solid var(--color-background);
    border-right: 1px solid var(--color-background);
    width: calc(100% - calc(2 * var(--step-1)));
  }

  @media (min-width: breakpoints.$max) {
    width: 100%;
  }
}

.leftHeaderCss {
  line-height: 2.5;
  text-align: left;
}

.rowCss {
  font-size: 1rem;

  &:nth-child(odd) {
    background-color: #e9e7e061;
  }

  @media (min-width: breakpoints.$tablet) {
    font-size: 1.125rem;
  }
}

.rightHeaderCss {
  text-align: right;
  white-space: nowrap;
}

.leftCellCss {
  padding-right: var(--step-1);

  @media (min-width: breakpoints.$tablet) {
    white-space: nowrap;
  }
}

.rightCellCss {
  font-feature-settings: "tnum";
  text-align: right;
  vertical-align: top;
}

.fillCellCss {
  width: 100%;
}
